.view-test-base {

    >.body {
        &.collapsed {
            display: none;
        }

        >.overview {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .test-section {
        @include primaryContent;
        margin-top: 10px;
        border-radius: 5px;
    }
}

.test-header {
    $headerHeight: 74px;
    $iconHeight: 40px;
    $iconWidth: 40px;
    $statusHeight: 45px;

    height: $headerHeight;
    background-repeat: repeat-x;
    color: white;
    overflow: hidden;
    cursor: pointer;

    /* for scrolling */
    z-index: 1;
    position: relative;

    .title {
        display: inline-block;
        overflow: hidden;
        margin-top: ($headerHeight - $iconHeight) / 2;

        .icon {
            float: left;
            margin-right: 12px;
            width: $iconWidth;
            height: $iconHeight;
            margin-left: 10px;
            display: inline-block;
        }

        .text {
            @include secondaryFont;
            font-size: 153.9%;
            font-weight: bold;
            line-height: $iconHeight;
        }
    }

    .status {
        float: right;

        height: $statusHeight;
        margin: 9px 10px 0 0;
        width: 254px;
        height: 57px;
        background-color:transparent;
        background-size:contain;
        background-repeat: no-repeat;

        &.good {
            background-image:url(../images/test/base/good-flag.png);
            @media (max-width:($mq-phone)) {
                background-image: url(../images/test/base/good-flag@2x.png);
            }
        }

        &.bad {
            background-image: url(../images/test/base/followup-flag.png);
            @media (max-width:($mq-phone)) {
                background-image: url(../images/test/base/followup-flag@2x.png);
            }
        }

        .icon {
            display: inline-block;

            width: 30px;
            height: 25px;
            background-image: url(../images/test/base/follow-up-icon.png);
            vertical-align: middle;
        }

        .text {
            @include secondaryFont;

            display: inline-block;
            padding-left: 10px;

            text-transform: uppercase;
        }
    }

    @media (max-width:($mq-phone)) {
        $headerHeight: 55px;

        height: $headerHeight;
        text-align: left;
        padding-left: 10px;

        .title {
            margin-top: ($headerHeight - $iconHeight) / 2;

            .text {
                font-size: 123.1%;
            }
        }

        .status {
            margin: 3px 58px 0 0;
            width: 50px;
            height: 50px;

            .text {
                display: none;
            }
        }
    }
}

@mixin view-test-base-extend ($type, $headingBgColor, $overviewBgColor) {
    .test-header.#{$type} {
        background-color: $headingBgColor;

        .title {
            .icon {
                background-image: url("../images/test/#{$type}/icon.png");

                @media
                only screen and (-webkit-min-device-pixel-ratio: 2),
                only screen and (min-resolution: 192dpi) {
                    background-image: url("../images/test/#{$type}/icon-2x.png");
                    background-size: 100%;
                }
            }
        }
    }

    .view-test-#{$type} {
        >.body {
            >.overview {
                background-color: $overviewBgColor;

                .diagram-container >.inner {
                    max-width: image-width("../images/test/#{$type}/diagram-2x.png") / 2;
                }
            }
        }
    }
}
