.view-test-base {

    >.body {
        &.collapsed {
            display: none;
        }

        >.overview {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .test-section {
        @include primaryContent;
        margin-top: 10px;
        border-radius: 5px;
    }
}

.test-header {
    $headerHeight: 74px;
    $iconHeight: 40px;
    $iconWidth: 40px;

    height: $headerHeight;
    background-repeat: repeat-x;
    color: white;
    overflow: hidden;
    cursor: pointer;

    text-align: center;

    /* for scrolling */
    z-index: 1;
    position: relative;

    .title {
        display: inline-block;
        overflow: hidden;
        margin-top: ($headerHeight - $iconHeight) / 2;

        .icon {
            float: left;
            margin-right: 12px;
            width: $iconWidth;
            height: $iconHeight;
            margin-left: 10px;
            display: inline-block;
        }

        .text {
            @include secondaryFont;
            font-size: 153.9%;
            font-weight: bold;
            line-height: $iconHeight;
        }
    }

    .status {
        $width: image-width('../images/test/base/follow-up-good-2x.png') / 2;
        $height: image-height('../images/test/base/follow-up-good-2x.png') / 2;
        position: absolute;

        top: ($headerHeight - $height) / 2;
        right: 60px;

        width: $width;
        height: $height;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width:($mq-phone)) {
        $headerHeight: 55px;

        height: $headerHeight;
        text-align: left;
        padding-left: 10px;

        .title {
            margin-top: ($headerHeight - $iconHeight) / 2;

            .text {
                font-size: 123.1%;
            }
        }

        .status {
            width: $iconWidth;
            height: $iconHeight;

            top: ($headerHeight - $iconHeight) / 2;
            right: 60px;

            .text {
                display: none;
            }
        }
    }
}

@mixin view-test-base-extend ($type, $headingBgColor, $overviewBgColor) {
    .test-header.#{$type} {
        background-color: $headingBgColor;

        .title {
            .icon {
                background-image: url("../images/test/#{$type}/icon.png");

                @media
                only screen and (-webkit-min-device-pixel-ratio: 2),
                only screen and (min-resolution: 192dpi) {
                    background-image: url("../images/test/#{$type}/icon-2x.png");
                    background-size: 100%;
                }
            }
        }
    }

    .view-test-#{$type} {
        >.body {
            >.overview {
                background-color: $overviewBgColor;

                .diagram-container >.inner {
                    max-width: image-width("../images/test/#{$type}/diagram-2x.png") / 2;
                }
            }
        }
    }
}
