.view-test-base {

    >.body {
        &.collapsed {
            display: none;
        }

        >.overview {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .test-section {
        @include primaryContent;
        margin-top: 10px;
        border-radius: 5px;
    }

    .test-section-inner {
        padding: 60px 20px 60px 75px;

        /* phone */
        @media (max-width:$mq-phone) {
            padding: 0;
        }
    }

    .test-section-inner-with-icon {
        padding: 20px 20px 20px 140px;

        &.first {
            padding-bottom: 0;
        }

        &.last {
            padding-top: 0;
        }

        &.desktop-only {
            /* tablet */
            @media (min-width:($mq-phone + 1px)) and (max-width:($mq-tablet - 1px)) {
                padding-left: 30px;
            }
        }

        /* tablet */
        @media (min-width:($mq-phone + 1px)) and (max-width:($mq-tablet - 1px)) {
            padding-left: 120px;
        }

        /* Phone */
        @media (max-width:$mq-phone) {
            padding: 0;
        }
    }


    .test-section-description {
        background-repeat: no-repeat;
        position: relative;

        p {
            color: #6c6c6c;
        }

        .icon {
            display: block;

            position: absolute;
            top: -10px;
            left: - image-width("images/test/cbc/diagram/rbc-2x.png") / 2 - 20px;

            width: image-width("images/test/cbc/diagram/rbc-2x.png") / 2;

            /* tablet */
            @media (min-width:($mq-phone + 1px)) and (max-width:($mq-tablet - 1px)) {
                $width: 65px;
                left: - $width - 25px;
                width: $width;
            }

            /* Phone */
            @media (max-width:$mq-phone) {
                display: none;
            }
        }
    }
}

.test-header {
    $headerHeight: 85px;
    $iconHeight: 47px;
    $iconWidth: 47px;

    height: $headerHeight;
    background-repeat: repeat-x;
    color: white;
    overflow: hidden;
    cursor: pointer;

    text-align: center;
    padding-right: 90px;

    /* for scrolling */
    z-index: 1;
    position: relative;

    .title {
        display: inline-block;
        margin-top: ($headerHeight - $iconHeight) / 2;
        position: relative;

        .icon {
            float: left;
            margin-right: 100px;
            width: $iconWidth;
            height: $iconHeight;
            margin-left: 10px;
            display: inline-block;
        }

        .text {
            @include secondaryFont;
            font-size: 153.9%;
            font-weight: bold;
            line-height: $iconHeight;

            position: absolute;
            top: 0;
            left: $iconWidth + 30px;
            white-space: nowrap;
        }
    }

    .status {
        $width: round(image-width('../images/test/base/follow-up-good-2x.png') / 2);
        $height: round(image-height('../images/test/base/follow-up-good-2x.png') / 2);
        position: absolute;

        top: ($headerHeight - $height) / 2;
        right: 90px;

        width: $width;
        height: $height;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width:($mq-phone)) {
        $headerHeight: 55px;
        $iconHeight: 42px;
        $iconWidth: 42px;

        height: $headerHeight;
        text-align: left;
        padding-right: 0;
        padding-left: 10px;

        .title {
            margin-top: ($headerHeight - $iconHeight) / 2;

            .icon {
                width: $iconWidth;
                height: $iconHeight;
            }

            .text {
                font-size: 123.1%;
                line-height: $iconHeight;
                left: $iconWidth + 20px;
            }
        }

        .status {
            width: $iconWidth;
            height: $iconHeight;

            top: ($headerHeight - $iconHeight) / 2;
            right: 60px;

            .text {
                display: none;
            }
        }
    }
}

@mixin view-test-base-extend ($type, $headingBgColor, $overviewBgColor, $diagramFilename : "diagram-2x.png") {
    .test-header.#{$type} {
        background-color: $headingBgColor;
    }

    .view-test-#{$type} {
        >.body {
            >.overview {
                background-color: $overviewBgColor;

                .diagram-container >.inner {
                    max-width: image-width("../images/test/#{$type}/#{$diagramFilename}") / 2;
                }
            }
        }
    }
}
