@include view-test-base-extend(cbc, #00A977, #38B781, "diagram-feline-2x.png", $page-break-inside: auto);

.view-test-cbc {
    .subsection >.part {
        page-break-inside: avoid;
    }

    .chart {
        $diagramDiameter: 220px;
        $diagramDiameterPrint: 130px;

        position: relative;
        border-right: 1px solid #6b6b6b;
        padding-right: 10px;

        /* desktop */
        @media only screen and (min-width:($mq-tablet)) {
            padding-left: 5%;
        }

        @media print {
            border-right: 0;
            overflow: hidden;
        }

        .diagram {
            $scale: $diagramDiameterPrint / $diagramDiameter;

            width: $diagramDiameter;
            height: $diagramDiameter;

            @media print {
                width: $diagramDiameter * $scale;
                height: $diagramDiameter * $scale;
                overflow: hidden;
                float: left;
            }

            .inner {
                width: $diagramDiameter;
                height: $diagramDiameter;

                @media print {
                    $divisor: 1 / $scale * 2;

                    top: - ($diagramDiameter * (1 - $scale) / 2);
                    left: - ($diagramDiameter * (1 - $scale) / 2);

                    @include scale($scale);

                    // IE8 - must be on one line, unfortunately
                    // @see http://www.useragentman.com/IETransformsTranslator/
                    filter: unquote("progid:DXImageTransform.Microsoft.Matrix(M11=" + ($scale - 0.15) + ", M12=0, M21=0, M22=" + ($scale - 0.15) + ", SizingMethod='auto expand')");
                    margin-left: ($diagramDiameter / $divisor / 1.5)\9;
                    margin-top: ($diagramDiameter / $divisor / 1.5)\9;
                }
            }
        }

        .value {
            @include secondaryFont;
            font-weight: bold;

            position: absolute;
            left: 155px;
            top: $diagramDiameter / 2 - 36px;

            width: 150px;
            text-align: center;

            @media print {
                position: static;
                top: 0;
                left: 0;
                float: left;
                width: auto;
                margin-top: $diagramDiameterPrint / 2 - 25px;
                margin-left: 20px;
            }

            .percentage {
                letter-spacing: -1px;
            }

            .number {
                font-size: 450%;
                line-height: 100%;
                letter-spacing: -3px;

                @media print {
                    font-size: 180%;
                }
            }

            .symbol {
                vertical-align: top;
                font-size: 225%;

                @media print {
                    vertical-align: baseline;
                    font-size: 180%;
                }
            }

            .text {
                text-transform: uppercase;
                font-size: 85%;
            }
        }
    }

    .range-container {
        margin: 20px 0 0 10%;

        @media print {
            margin: 0;
        }

        .view-subtest-range {
            max-width: 235px;
        }
    }
    
    /* phone */
    @media only screen and (max-width:($mq-phone)) {
        .chart {
            border-right: 0;
            padding-right: 0;

            .diagram {
                margin: 0 auto;
            }

            .value {
                left: 53%;
            }
        }

        .range-container {
            margin-top: 10px;
            margin-left: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid #111;

            .view-subtest-range {
                margin: 0 auto;
            }
        }
    }
}
