@include view-test-base-extend(cbc, #34a778, #30bd84);

.view-test-cbc {
    .subsection {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .subsection-description {
        background-repeat: no-repeat;

        h1, p {
            margin-left: 95px;
        }
    }

    .anchor-offset {
        position:relative;
        bottom:42px;
    }

    @mixin subsection ($type) {
        .subsection-#{$type} {
            .subsection-description {
                background-image: url("../images/test/cbc/diagram/#{$type}.png");

                @media
                only screen and (-webkit-min-device-pixel-ratio: 2),
                only screen and (min-resolution: 192dpi) {
                    background-image: url("../images/test/cbc/diagram/#{$type}-2x.png");
                    background-size: (image-width("../images/test/cbc/diagram/#{$type}-2x.png") / 2) (image-height("../images/test/cbc/diagram/#{$type}-2x.png") / 2)
                }
            }
        }
    }

    @include subsection(rbc);
    @include subsection(wbc);
    @include subsection(platelet);

    .subsection-platelet {
        padding-bottom: 0;
    }

    /* tablet and phone */
    @media (max-width:($mq-tablet - 1px)) {
        .subsection-description {
            h1 {
                height: 75px;
                display:table;
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            p {
                margin-left: 0;
            }
        }
    }

    /* tablet and desktop */
    @media (min-width:($mq-phone + 1px)) {
        .subsection-rbc {
            .subsubsection-cell-attribute {
                margin-top: 30px;
            }

            .cell-attribute-column {
                border-right: 1px solid #d2d3d6;
                margin:5px;
                padding: 0 5px;

                h4 {
                    margin-top: 0;
                }
            }
        }
    }

    /* phone */
    @media (max-width:($mq-phone)) {
        .view-subtest-range {
            margin: 0 auto;
        }
    }
}
