@include view-test-base-extend(cbc, #34a778, #30bd84, "diagram-feline-2x.png");

.view-test-cbc {
    .chart {
        position: relative;
        border-right: 1px solid #6b6b6b;
        padding-right: 10px;

        $diagramDiameter: 220px;
        .diagram {
            width: $diagramDiameter;
            height: $diagramDiameter;
        }

        .value {
            @include secondaryFont;
            font-weight: bold;

            position: absolute;
            left: 150px;
            top: $diagramDiameter / 2 - 20px;

            width: 130px;
            text-align: center;

            .percentage {
                letter-spacing: -1px;
            }

            .number {
                font-size: 300%;
                line-height: 100%;
            }

            .symbol {
                vertical-align: top;
                font-size: 150%;
            }

            .text {
                text-transform: uppercase;
                font-size: 85%;
            }
        }
    }

    /* tablet and phone */
    @media (max-width:($mq-tablet - 1px)) {

    }
    
    /* phone */
    @media (max-width:($mq-phone)) {
        .chart {
            border-right: 0;
            padding-right: 0;

            .diagram {
                margin: 0 auto;
            }

            .value {
                left: 60%;
            }
        }

        .view-subtest-range {
            margin: 0 auto;
        }
    }
}
