@include view-test-base-extend(urine, #613B97, #6B499E, $page-break-inside: auto);

.view-test-urine-analysis {
    .test-section-description {
        p {
            margin-bottom: 0;
        }
    }

    h2 {
        border-bottom: 1px solid #111111;
        padding-bottom: 5px;
        font-size: 167%;

        /* phone */
        @media only screen and (max-width:$mq-phone) {
            font-size: 146.5%;
        }
    }


    .diagram-palette {
        @include secondaryFont;
        position: relative;

        margin: 10px auto;
        max-width: 350px;

        .palette {
            display: block;
        }

        .label {
            position: absolute;
            bottom: 52%;
            left: 50%;

            width: 46%;
            margin: 0 0 -20% -23%;

            text-align: center;

            font-size: 182%;
            font-weight: bold;
            line-height: 100%;

            /* phone */
            @media only screen and (max-width:$mq-phone) {
                font-size: 138.5%;
            }
        }

        .widget-indicator {
            margin-top: 5px;
            cursor: pointer;
        }

        .description {
            display: none;
        }
    }

    .property.color {
    }

    .property.appearance {
        @include secondaryFont;

        .container {
            max-width:340px;
            margin: 0 auto;
        }

        .text {
            margin-top: 26%;
    
            /* phone */
            @media only screen and (max-width:$mq-phone) {
                margin-top: 30px;
            }
        }

        .widget-indicator {
            vertical-align: middle;
            cursor: pointer;
        }
        .label {
            font-size: 182%;
            font-weight: bold;
            vertical-align: middle;
            display: inline-block;
            padding-left: 10px;

            /* phone */
            @media only screen and (max-width:$mq-phone) {
                font-size: 138.5%;
            }
        }

        .actual {
            margin: 30px 0 10px;
            position: relative;
            width: 100%;

            .value {
                position: absolute;
                top: -50%;
                width: 23%;
                image-rendering: optimizeQuality;

                .pattern {
                    display: block;
                }

                &.clear {
                    left: -7%;

                    /* phone */
                    @media only screen and (max-width:$mq-phone) {
                        left: -3%;
                    }
                }
                &.clear-with-particles {left: 5%;}
                &.slightly-hazy {left: 16%;}
                &.hazy {left: 27%;}
                &.slightly-cloudy {left: 38%;}
                &.cloudy {left: 49%;}
                &.turbid {left: 60%;}
                &.opaque {left: 71%;}
                &.bloody {left: 82%;}
            }
        }

        .expected {
            padding-top: 4px;

            .range {
                padding: 2px 2px;
                height: 4px;
                background-color: #e8eae5;
                border-radius: 3px;
            }

            .value {
                height: 100%;
                background-color: #6b6b6b;
                width: 43%;
            }
        }

        .expected-label {
            color: #444;
            padding-top: 6px;
            text-align: center;
            width: 43%;
            text-transform: uppercase;
            font-size: 77%;
            font-weight: bold;

            margin-bottom: 20px;
        }

        .description {
            display: none;
        }
    }

    .test-subsection.particle {
        .pod {
            background-color: #fcfcfb;
            border: 1px solid #a3a3a3;
            border-radius: 4px;
            padding: 14px 20px 14px (20px + $widgetIndicatorWidth);
            max-width: 165px;

            >.inner {
                position: relative;

                background-image: url("../images/subtest/select/bullet.png");
                background-repeat: no-repeat;
                background-position: 10px 10px;

                padding-left: 20px;
            }

            .label {
                @include secondaryFont;
                font-size: 182%;
                line-height: $widgetIndicatorHeight;
                font-weight: bold;

                white-space: nowrap; 
                text-overflow: ellipsis;
                display: block;
                width: 100%;
                overflow: hidden;
            }

            .widget-indicator {
                position: absolute;
                left: - $widgetIndicatorWidth;
            }

            .description {
                display: none;
            }

            /* phone */
            @media only screen and (max-width:$mq-phone) {
                padding: 7px 10px 7px (10px + $widgetIndicatorWidth);
                max-width: 150px;

                .label {
                    font-size: 138.5%;
                }
            }
        }
    }

    .property.concentration {
        >.select {
            margin: 15px 0 0 20px;

            /* phone */
            @media only screen and (max-width:$mq-phone) {
                margin-left: 10px;
            }
        }
    }

    .property.ph {
        .diagram-palette {
            .label {
                font-size: 360%;
                letter-spacing: -3px;
                bottom: 43%;

                /* phone */
                @media only screen and (max-width:$mq-phone) {
                    font-size: 230%;
                }
            }
        }

        .legend {
            position: absolute;
            font-weight: bold;
            font-size: 77%;
            text-transform: uppercase;

            &.neutral {
                top: 0;
                left: 50%;
                width: 50px;
                margin-left: -25px;
                text-align: center;
            }

            &.acidic {
                bottom: 3%;
                left: 23%;
            }

            &.alkaline {
                bottom: 3%;
                right: 23%;
            }
        }
    }
}
