@include view-test-base-extend(urine, #674e9f, #7359ae);

.view-test-urine-analysis {
    .test-section-description {
        p {
            margin-bottom: 0;
        }
    }

    .visual-analysis {

        .color {
            &.brown {background-image: url("../images/test/urine/color/brown.png");}
            &.colorless {background-image: url("../images/test/urine/color/colorless.png");}
            &.dark-brown {background-image: url("../images/test/urine/color/dark-brown.png");}
            &.dark-green {background-image: url("../images/test/urine/color/dark-green.png");}
            &.dark-orange {background-image: url("../images/test/urine/color/dark-orange.png");}
            &.dark-red {background-image: url("../images/test/urine/color/dark-red.png");}
            &.dark-yellow {background-image: url("../images/test/urine/color/dark-yellow.png");}
            &.green {background-image: url("../images/test/urine/color/green.png");}
            &.light-brown {background-image: url("../images/test/urine/color/light-brown.png");}
            &.light-green {background-image: url("../images/test/urine/color/light-green.png");}
            &.light-orange {background-image: url("../images/test/urine/color/light-orange.png");}
            &.light-red {background-image: url("../images/test/urine/color/light-red.png");}
            &.light-yellow {background-image: url("../images/test/urine/color/light-yellow.png");}
            &.orange {background-image: url("../images/test/urine/color/orange.png");}
            &.red {background-image: url("../images/test/urine/color/red.png");}
            &.yellow {background-image: url("../images/test/urine/color/yellow.png");}
        }

        .appearance {
            &.bloody {background-image: url("../images/test/urine/appearance/bloody.png");}
            &.clear-with-particles {background-image: url("../images/test/urine/appearance/clear-with-particles.png");}
            &.clear {background-image: url("../images/test/urine/appearance/clear.png");}
            &.cloudy {background-image: url("../images/test/urine/appearance/cloudy.png");}
            &.hazy {background-image: url("../images/test/urine/appearance/hazy.png");}
            &.opaque {background-image: url("../images/test/urine/appearance/opaque.png");}
            &.slightly-cloudy {background-image: url("../images/test/urine/appearance/slightly-cloudy.png");}
            &.slightly-hazy {background-image: url("../images/test/urine/appearance/slightly-hazy.png");}
            &.turbid {background-image: url("../images/test/urine/appearance/turbid.png");}
			&.none {background-image: url("../images/test/urine/appearance/none.png");}
        }
    }
}
