<div class="view-subtest-cbc-summary">
    <img class="background" src="images/healthtracks/subtest/cbc-summary/species/{{species}}.png" />

    <div class="type rbc">
        <a class="link" href="#section/{{sectionId}}/sub/rbc"><img src="images/healthtracks/test/cbc/diagram/rbc.png" /></a>
        <div class="label">
            <div class="value">{{rbc}}%</div>
            <div class="description">Red Blood Cells</div>
        </div>
    </div>

    <div class="type wbc">
        <a class="link" href="#section/{{sectionId}}/sub/wbc"><img src="images/healthtracks/test/cbc/diagram/wbc.png" /></a>
        <div class="label">
            <div class="value">{{wbc}}%</div>
            <div class="description">White Blood Cells</div>
        </div>
    </div>

    <div class="type platelet">
        <a class="link" href="#section/{{sectionId}}/sub/platelet"><img src="images/healthtracks/test/cbc/diagram/platelet.png" /></a>
        <div class="label">
            <div class="value">{{platelet}}%</div>
            <div class="description">Platelets</div>
        </div>
    </div>
</div>
