<div class="view-subtest-range skin-{{skin}}">

    <div class="wrapper">
        <div class="marker">
            <div class="inner">
                <div class="text">
                    <div>
                        <span class="value">{{value}}</span>&nbsp;<span class="unit">{{unit}}</span>
                    </div>
                    <div class="description">{{name}}’s Result</div>
                </div>
                <div class="pointer"></div>
            </div>
        </div>

        <div class="actual">
            <div class="range">
                <div class="value"></div>
            </div>
        </div>

        <div class="expected">
            <div class="range">
                <div class="value"></div>
            </div>

            <div class="label">
                Expected Range {{range.minimum}}-{{range.maximum}} {{unit}}
            </div>
        <div>
    </div>

</div>