<div class="view-subtest-range skin-{{skin}}">

    <div class="wrapper">
        <div class="marker">
            <div class="inner">
                <div class="text">
                    <div>
                        <span class="value">{{value}}</span>
                        <span class="unit">{{unit}}</span>
                    </div>
                </div>
                <div class="pointer"></div>
            </div>
        </div>

        <div class="actual">
            <div class="range">
                <div class="bar value"></div>
                <div class="bar expected-value"></div>
            </div>
        </div>

        <div class="expected">
            <div class="range">
                <div class="value"></div>
            </div>

            <div class="label">
                <span class="limits">Expected Range {{range.minimum}}-{{range.maximum}}</span> <span class="unit">{{unit}}</span>
            </div>
        <div>
    </div>

    <div class="description">
        <p>
            {{#if message}}
                <span class="message">{{message}}</span>
            {{/if}}

            {{description}}
        </p>
    </div>

</div>