<div class="view-subtest-range-group">

    <div class="yui3-g">
        <div class="yui3-u-1">
            <div class="yui3-u-c legend">
                <span class="symbol"></span>
                <span class="label">Expected Range</span>
            </div>
        </div>
    </div>

    <div class="yui3-g">
        <div class="yui3-u-1">
            <div class="yui3-u-c scroller-container">
                <div class="scroller">
                    <div class="pager previous"><div class="button left"><div class="inner"></div></div></div>

                    <div class="content">
                        <div class="content-inner">
                            <div class="ranges-container">
                                <div class="ranges">
                                    <div class="average-range"><div class="inner"></div></div>
                                    <div class="yui3-visible-print average-range-legend">
                                        <div class="inner">Expected Range</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pager next"><div class="button right"><div class="inner"></div></div></div>
                </div>

                <div class="swipe"></div>
                <div class="range-item-selected">
                    <div class="range"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="yui3-g yui3-visible-phone yui3-hidden-print">
        <div class="yui3-u-1">
            <div class="details-container"></div>
        </div>
    </div>

</div>
