<div class="view-subtest-types-of-cell2 species-{{species}}">

    <div class="yui3-g-r">
        <div class="yui3-u-1-3">
            <div class="yui3-u-c">
                <div class="title">Infection Fighters</div>

                <div class="diagram">
                    <img class="icon canine" src="images/subtest/types-of-cell2/canine-fighter-2x.png" alt="" />
                    <img class="icon feline" src="images/subtest/types-of-cell2/feline-fighter-2x.png" alt="" />

                    <img class="circle canine" src="images/subtest/types-of-cell2/canine-circle-big-2x.png" alt="" />
                    <img class="circle feline" src="images/subtest/types-of-cell2/feline-circle-big-2x.png" alt="" />

                    <div class="percentage">
                        <span class="number">{{fighter.percentage}}</span>
                        <span class="symbol">%</span>
                    </div>
                </div>

                <div class="range">
                    <img class="marker good" src="images/common/result-good-2x.png" alt="" />
                    <img class="marker bad" src="images/common/result-bad-2x.png" alt="" />
                    Expected Range 60%-70%
                </div>
            </div>
        </div>

        <div class="yui3-u-1-3">
            <div class="yui3-u-c">
                <div class="title">Immune Defenders</div>

                <div class="diagram">
                    <img class="icon canine" src="images/subtest/types-of-cell2/canine-defender-2x.png" alt="" />
                    <img class="icon feline" src="images/subtest/types-of-cell2/feline-defender-2x.png" alt="" />

                    <img class="circle canine" src="images/subtest/types-of-cell2/canine-circle-medium-2x.png" alt="" />
                    <img class="circle feline" src="images/subtest/types-of-cell2/feline-circle-medium-2x.png" alt="" />

                    <div class="percentage">
                        <span class="number">{{defender.percentage}}</span>
                        <span class="symbol">%</span>
                    </div>
                </div>

                <div class="range">
                    <img class="marker good" src="images/common/result-good-2x.png" alt="" />
                    <img class="marker bad" src="images/common/result-bad-2x.png" alt="" />
                    Expected Range 30%-40%
                </div>
            </div>
        </div>

        <div class="yui3-u-1-3">
            <div class="yui3-u-c">
                <div class="title">Allergen Watchmen</div>

                <div class="diagram">
                    <img class="icon canine" src="images/subtest/types-of-cell2/canine-watcher-2x.png" alt="" />
                    <img class="icon feline" src="images/subtest/types-of-cell2/feline-watcher-2x.png" alt="" />

                    <img class="circle canine" src="images/subtest/types-of-cell2/canine-circle-small-2x.png" alt="" />
                    <img class="circle feline" src="images/subtest/types-of-cell2/feline-circle-small-2x.png" alt="" />

                    <div class="percentage">
                        <span class="number">{{watcher.percentage}}</span>
                        <span class="symbol">%</span>
                    </div>
                </div>

                <div class="range">
                    <img class="marker good" src="images/common/result-good-2x.png" alt="" />
                    <img class="marker bad" src="images/common/result-bad-2x.png" alt="" />
                    Expected Range .5%-2%
                </div>
            </div>
        </div>
    </div>
</div>
