<div class="view-subtest-types-of-cell species-{{species}}">
    <!-- title -->
    <div class="yui3-g-r">
        <div class="yui3-u-1">
            <div class="yui3-u-c">
                <h2>Types of Cells</h2>
            </div>
        </div>
    </div>

    <!-- buttons -->
    <div class="yui3-g">

        <div class="yui3-u-1-3">
            <div class="yui3-u-c">
                <div class="option fighter" data-type="fighter">
                    <span class="icon"></span>
                    <span class="text yui3-hidden-phone"><span class="yui3-hidden-tablet">Infection</span> Fighters</span>
                </div>
            </div>
        </div>

        <div class="yui3-u-1-3">
            <div class="yui3-u-c">
                <div class="option defender" data-type="defender">
                    <span class="icon"></span>
                    <span class="text yui3-hidden-phone"><span class="yui3-hidden-tablet">Immune</span> Defenders</span>
                </div>
            </div>
        </div>

        <div class="yui3-u-1-3">
            <div class="yui3-u-c">
                <div class="option watcher" data-type="watcher">
                    <span class="icon"></span>
                    <span class="text yui3-hidden-phone"><span class="yui3-hidden-tablet">Allergen</span> Watchmen</span>
                </div>
            </div>
        </div>
    </div>

    <!-- details -->
    <div class="yui3-g-r">

        <!-- description -->
        <div class="yui3-u-1-3 yui3-u-1-2-small-tablet">
            <div class="yui3-u-c">
                <div class="description defender">
                    <h4 class="title">Immune Defenders</h4>

                    <p>These cells strengthen the immune system by fighting viral infections and remembering them, so if the virus returns, the cells recognize it and make antibodies to destroy it.</p>
                </div>

                <div class="description fighter">
                    <h4 class="title">Infection Fighters</h4>

                    <p>These cells fight bacterial infection and inflammation at the site – when you see puss form in a cut that is the infection fighters in action!</p>
                </div>

                <div class="description watcher">
                    <h4 class="title">Allergen Watchmen</h4>

                    <p>These cells keep a lookout for any allergens that might enter {{patient.name}}’s system. An allergen can be anything, from pollen to heartworm, that causes the body to react, becoming irritated or inflamed.</p>
                </div>
            </div>
        </div>

        <!-- diagram -->
        <div class="yui3-u-2-3 yui3-u-1-2-small-tablet">
            <div class="yui3-u-c">
                <div class="cells"></div>
            </div>
        </div>
    </div>
</div>
