<div class="view-subtest-types-of-cell2">

    <div class="yui3-g-r">
        <div class="yui3-u-1-3 yui3-u-1-2-small-tablet">
            <div class="yui3-u-c">
                <div class="title">Infection Fighters</div>

                <div class="diagram">
                    <img class="icon" src="images/subtest/types-of-cell2/{{species}}-fighter-2x.png" alt="" />

                    <img class="circle big" src="images/subtest/types-of-cell2/{{species}}-circle-big-2x.png" alt="" />

                    <div class="percentage">
                        <span class="number">{{fighter.percentage}}</span>
                        <span class="symbol">%</span>
                    </div>
                </div>

                <div class="range">
                    <span class="widget-indicator {{#if fighter.isBad}}bad{{/if}}"></span>
                    <span class="text">Expected Range {{fighter.min}}%-{{fighter.max}}%</span>
                </div>
            </div>
        </div>

        <div class="yui3-u-1-3 yui3-u-1-2-small-tablet">
            <div class="yui3-u-c">
                <div class="title">Immune Defenders</div>

                <div class="diagram">
                    <img class="icon" src="images/subtest/types-of-cell2/{{species}}-defender-2x.png" alt="" />

                    <img class="circle medium" src="images/subtest/types-of-cell2/{{species}}-circle-medium-2x.png" alt="" />

                    <div class="percentage">
                        <span class="number">{{defender.percentage}}</span>
                        <span class="symbol">%</span>
                    </div>
                </div>

                <div class="range">
                    <span class="widget-indicator {{#if defender.isBad}}bad{{/if}}"></span>
                    <span class="text">Expected Range {{defender.min}}%-{{defender.max}}%</span>
                </div>
            </div>
        </div>

        <div class="yui3-u-1-3 yui3-u-1-2-small-tablet">
            <div class="yui3-u-c">
                <div class="title">Allergen Watchmen</div>

                <div class="diagram">
                    <img class="icon" src="images/subtest/types-of-cell2/{{species}}-watcher-2x.png" alt="" />

                    <img class="circle small" src="images/subtest/types-of-cell2/{{species}}-circle-small-2x.png" alt="" />

                    <div class="percentage">
                        <span class="number">{{watcher.percentage}}</span><span class="symbol">%</span>
                    </div>
                </div>

                <div class="range">
                    <span class="widget-indicator {{#if watcher.isBad}}bad{{/if}}"></span>
                    <span class="text">Expected Range {{watcher.min}}%-{{watcher.max}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>
