.view-subtest-range {
    @include secondaryFont;
    page-break-inside: avoid;

    .wrapper {
        position: relative;
    }

    $markerWidth: 200px;
    $rangeBgColor: #e8eae5;

    .marker {
        position: absolute;
        width: $markerWidth;
        margin-left: - $markerWidth / 2;
        text-align: center;
        color: #444;
        z-index: 1;

        .text {
            position: relative;
            height: 71px;

            @media print {
                height: 37px;
            }
        }

        .value {
            font-size: 450%;
            font-weight: bold;
            line-height: 90%;
            letter-spacing: -3px;

            @media print {
                font-size: 180%;
            }
        }

        .unit {
            font-size: 123.1%;
            font-weight: bold;
            display: block;

            @media print {
                font-size: 100%;
            }
        }

        .widget-indicator {
            display: block;
            margin: 10px auto 0;
        }
    }

    .actual {
        $rangeHeight: 28px;
        padding-top: 87px;

        @media print {
            padding-top: 53px;
        }

        .range {
            // using borders here instead of background-color, in order for the color
            // to show up when printing
            border: ($rangeHeight / 2) solid $rangeBgColor;
            border-left: 0;
            border-right: 0;
            border-radius: 3px;

            position: relative;
        }

        .bar {
            position: absolute;
            top: - $rangeHeight / 2;
            left: 0;
        }

        .value {
            border: ($rangeHeight / 2) solid #00b8d6;
            border-left: 0;
            border-right: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .expected-value {
            height: $rangeHeight;
            background-image: url("../images/healthtracks/subtest/range/actual-expected-bg.png");

            @media print {
                display: none;
            }
        }
    }

    .expected {
        $rangeHeight: 8px;
        padding-top: 10px;

        .range {
            // using borders here instead of background-color, in order for the color
            // to show up when printing
            border: ($rangeHeight / 2) solid $rangeBgColor;
            border-left: 0;
            border-right: 0;
            border-radius: 3px;
            position: relative;
        }

        .value {
            $valueHeight: 4px;
            position: absolute;
            top: - $rangeHeight / 2 / 2;
            border: ($valueHeight / 2) solid #6b6b6b;
            border-left: 0;
            border-right: 0;
        }

        .label {
            color: #444;
            padding-top: 6px;
            text-align: center;
            font-size: 77%;
            font-weight: bold;

            @media print {
                font-size: 60%;
            }

            .limits {
                text-transform: uppercase;
            }
        }
    }

    &.value-low {
        .marker {
            text-align: left;

            .text {
                left: $markerWidth / 2 - $widgetIndicatorBigWidth / 2;
            }
        }
    }

    &.value-high {
        .marker {
            text-align: right;

            .text {
                right: $markerWidth / 2 - $widgetIndicatorBigWidth / 2;
            }
        }
    }

    .description {
        display: none;
    }

    &.single-line-label {
        .marker {
            .text {
                height: 52px;

                @media print {
                    height: 21px;
                }
            }

            .unit {
                display: inline;
            }
        }

        .actual {
            padding-top: 68px;

            @media print {
                padding-top: 37px;
            }
        }
    }
}
