.view-subtest-range {
    @include secondaryFont;

    .wrapper {
        position: relative;
    }

    $markerWidth: 200px;
    $pointerWidth: 40px;
    $rangeBgColor: #e8eae5;

    .marker {
        position: absolute;
        width: $markerWidth;
        margin-left: - $markerWidth / 2;
        text-align: center;
        color: #444;
        z-index: 1;

        .text {
            position: relative;
        }

        .value {
            font-size: 450%;
            font-weight: bold;
            line-height: 90%;
            letter-spacing: -3px;
        }

        .unit {
            font-size: 123.1%;
            font-weight: bold;
            display: block;
        }

        .widget-indicator {
            margin: 9px auto 0;
        }
    }

    .actual {
        height: 28px;
        padding-top: 87px;

        .range {
            height: 100%;
            background-color: $rangeBgColor;
            border-radius: 3px;

            position: relative;
        }

        .bar {
            position: absolute;
            top: 0;
            left: 0;
        }

        .value {
            height: 100%;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: #00b8d6;
        }

        .expected-value {
            height: 100%;
            background-image: url("../images/subtest/range/actual-expected-bg.png");
        }
    }

    .expected {
        padding-top: 10px;

        .range {
            padding: 2px 0;
            height: 4px;
            background-color: $rangeBgColor;
            border-radius: 3px;
        }

        .value {
            height: 100%;
            background-color: #6b6b6b;
        }

        .label {
            color: #444;
            padding-top: 6px;
            text-align: center;
            font-size: 77%;
            font-weight: bold;

            .limits {
                text-transform: uppercase;
            }
        }
    }

    &.value-low {
        .marker {
            text-align: left;

            .text {
                left: $markerWidth / 2 - $pointerWidth / 2;
            }
        }
    }

    &.value-high {
        .marker {
            text-align: right;

            .text {
                right: $markerWidth / 2 - $pointerWidth / 2;
            }
        }
    }

    .description {
        display: none;
    }

    &.single-line-label {
        .marker {
            .unit {
                display: inline;
            }
        }

        .actual {
            padding-top: 68px;
        }
    }
}
