.view-subtest-select {

	.options {
		padding: 0;
		margin: 0;
	}

	.option {
        @include secondaryFont;
        
		font-size: 116%;
		list-style: none;
		color: #6b6b6b;

		background-image: url(../images/subtest/select/bg-middle.png);
		background-repeat: repeat-y;

        position: relative;

        .widget-indicator {
            position: absolute;
            top: 4px;
            left: 7px;
            display: none;
            cursor: pointer;
        }
		
		&:first-child {
			background-image: url(../images/subtest/select/bg-top.png);
			background-position: left top;

			.widget-indicator {
                top: 5px;
			}
		}

		&.last {
			background-image: url(../images/subtest/select/bg-bottom.png);
			background-position: left bottom;

			.widget-indicator {
                top: 2px;
			}
		}

		&.selected {
            font-size: 182%;
            font-weight: bold;
            color: #333;

            .name {
            	background-image: url(../images/subtest/select/bullet.png);
            	background-repeat: no-repeat;
            	background-position: 45px + 7px center;
            }

            .widget-indicator {
                display: block;
            }
		}

		.name {
			padding-left: 45px + 20px;
			height: 40px;
			line-height: 40px;
		}
	}

	.description {
		display: none;
	}
}
