.view-subtest-select {

	.options {
		padding: 6px 0;
		margin: 0;
        position: relative;
	}

    .indicator-background {
        position: absolute;
        width: 41px;
        top:0;
        bottom: 0;
        border-radius: 21px;
        box-shadow: inset 0 0 7px #e5e5e5;
        border: 1px solid #e5e5e5;
    }

	.option {
        @include secondaryFont;
        
		font-size: 116%;
		list-style: none;
		color: #6b6b6b;

        position: relative;

        .widget-indicator {
            position: absolute;
            top: -1px;
            left: 6px;
            display: none;
            cursor: pointer;
            z-index: 1;
        }

        .name {
            padding-left: 45px + 20px;
            height: 30px;
            line-height: 30px;

            overflow: hidden;
            text-overflow: clip;
        }

		&.selected {
            font-size: 182%;
            font-weight: bold;
            color: #333;

            .name {
            	background-image: url(../images/subtest/select/bullet.png);
            	background-repeat: no-repeat;
            	background-position: 45px + 7px center;
            }

            .widget-indicator {
                display: block;
            }
		}
	}

	.description {
		display: none;
	}

    /* phone */
    @media only screen and (max-width:($mq-phone)) {
        .options {
            padding-top: 0;
            padding-bottom: 0;
        }

        .indicator-background {
            width: $widgetIndicatorWidth - 2;
            border-radius: ($widgetIndicatorWidth - 2) / 2;
        }

        .option {
            font-size: 108%;

            .widget-indicator {
                left: 0;
            }

            .name {
                padding-left: $widgetIndicatorWidth + 13px;
            }
        
            &:first-child {
                .widget-indicator {
                    top: 0;
                }
            }

            &.last {
                .widget-indicator {
                    top: 0;
                }
            }

            &.selected {
                font-size: 138.5%;

                .name {
                    background-position: ($widgetIndicatorWidth + 5px) center;
                }
            }
        }
    }
}
