.view-subtest-types-of-cell2 {
	.type {
		@media print {
			overflow: hidden;
		}
	}

	.title {
		@include secondaryFont;

		text-transform: uppercase;
		font-size: 138.5%;
		font-weight: bold;
		border-bottom: 1px solid #6b6b6b;
		padding-bottom: 5px;

		@media print {
			border: 0;
			font-size: 100%;
			padding-bottom: 0;
		}
	}

	.diagram {
		margin-top: 10px;
		position: relative;
		height: 190px;

		@media print {
			margin-top: 0;
			height: auto;
			float: left;
		}

		.circle {
			display: block;
			margin: 0 auto;
		}

		@mixin diagram-size ($size, $image, $paddingTop, $numberFontSize, $symbolFontSize) {
			&.#{$size} {
				.circle {
					width: image-width($image) / 2;
					padding-top: $paddingTop;
				}

				.number {
					font-size: $numberFontSize;
				}

				.symbol {
					font-size: $symbolFontSize;
				}

				@media print {
					$factor: 2.2;
					.circle {
						width: (image-width($image) / 2) / $factor;
						padding-top: $paddingTop / $factor;
					}

					.number {
						font-size: $numberFontSize / $factor;
					}

					.symbol {
						font-size: $symbolFontSize / $factor;
					}
				}
			}
		}

		@include diagram-size("big", "../images/subtest/types-of-cell2/canine-circle-big-2x.png", 21px, 450%, 225%);
		@include diagram-size("medium", "../images/subtest/types-of-cell2/canine-circle-medium-2x.png", 32px, 375%, 200%);
		@include diagram-size("small", "../images/subtest/types-of-cell2/canine-circle-small-2x.png", 46px, 300%, 175%);
	}

	.icon {
		width: image-width("../images/subtest/types-of-cell2/canine-defender-2x.png") / 2;
		position: absolute;
		top: 0;
		left: 0;

		@media print {
			display: none;
		}
	}

	.percentage {
		@include secondaryFont;
		font-weight: bold;
		letter-spacing: -1px;

		position: absolute;
		width: 100%;
		top: 72px;

		text-align: center;

		@media print {
			top: 34px;
		}
	}

	.number {
		line-height: 100%;
	}

	.symbol {
		vertical-align: top;
	}

	.range {
		@media print {
			margin-top: 31px;
		}

		.widget-indicator {
			vertical-align: middle;

			@media print {
				padding-left: 5px;
			}
		}

		.text {
			@include secondaryFont;
			text-transform: uppercase;
			font-weight: bold;

			font-size: 85%;

			display: inline-block;
			padding-left: 10px;

			@media print {
				padding-left: 0;
				font-size: 60%;
			}
		}
	}

	.description {
		display: none;
	}
}