.background.accuplex {
	max-width: round(image-width("../images/animation/accuplex/2x/large-bug-2x.png") / 2);
	margin: 12%;

	.sticker {
		position: relative;
		z-index: 0;

		.bg {
			display: block;
			position: relative;
			z-index: 1;
		}

		.bug {
			&.small {
				width: 15%;
				position:absolute;
				&:nth-child(6) {
					top: 45%;
					left: -20%;
				}
				&:nth-child(7) {
					top: -11%;
					left: 77%;
				}
				&:nth-child(8) {
					top: 45%;
					left: 109%;
				}
				&:nth-child(9) {
					top: 83%;
					left: -4%;
				}
			}
			&.medium {
				width: 18.7%;
				position:absolute;
				&:nth-child(2) {
					top: -12%;
					left: -12%;
				}
				&:nth-child(3) {
					top: 45%;
					left: 125%;
				}
				&:nth-child(4) {
					top: 101%;
					left: 61%;
				}
				&:nth-child(5) {
					top: 105%;
					left: 12%;
				}
			}
		}
		&.active {
			.bug {
				&:nth-child(2) {
					@include transition(all 3s 170ms ease);
					left:50%;
					top:50%;
				}
				&:nth-child(3) {
					@include transition(all 3s 295ms ease);
					left:50%;
					top:50%;
				}
				&:nth-child(4) {
					@include transition(all 3s 330ms ease);
					left:50%;
					top:50%;
				}
				&:nth-child(5) {
					@include transition(all 3s 455ms ease);
					left:50%;
					top:50%;
				}
				&:nth-child(6) {
					@include transition(all 3s 555ms ease);
					left:50%;
					top:50%;
				}
				&:nth-child(7) {
					@include transition(all 3s 655ms ease);
					left:50%;
					top:50%;
				}
				&:nth-child(8) {
					@include transition(all 3s 755ms ease);
					left:50%;
					top:50%;
				}
				&:nth-child(9) {
					@include transition(all 3s 855ms ease);
					left:50%;
					top:50%;
				}
			}
		}
	}
}
