.background.cbc {
	max-width: round(image-width("../images/animation/cbc/2x/large-circle-2x.png") / 2);
	margin: 0 9% 0 22%;

	/* phone */
	@media only screen and (max-width:($mq-phone)) {
		margin-right: 0%;
		margin-left: 19%;
	}

	.sticker {
		position: relative;
		z-index: 0;

		.circle {
			display: block;
		}

		.part {
			position: absolute;
			z-index: 3;

			&.animal {
				width: 96%;
				left: 0;
				top: 0;
			}

			&.bandaid,
			&.battery,
			&.shield, {
				width: 29%;
				left: 35%;
				top: 34%;
			}
		}
		&.active {
			.animal {
				@include transition(all 900ms cubic-bezier(.17,.26,.1,1.2));
				left:-35%;
			}
			.bandaid {
				@include transition(all 400ms cubic-bezier(.17,.26,.1,1.61));
				@include opacity(1);
				left: 69%;
				top: 68%;
			}
			.battery {
				@include transition(all 400ms 450ms cubic-bezier(.17,.26,.1,1.61));
				@include opacity(1);
				top: 0;
				left: 72%;
			}
			.shield {
				@include transition(all 400ms 250ms cubic-bezier(.17,.26,.1,1.61));
				@include opacity(1);
				left: 83%;
			}
		}
	}
}
