.background.felv-fiv {
	max-width: round(image-width("../images/animation/felv-fiv/circle-background@2x.png") / 2);
	margin: 2% 14% 0 10%;

	/* phone */
	@media (max-width:($mq-phone)) {
		margin-top: 15%;
		margin-bottom: 12%;
	}

	.sticker {
		position: relative;
		z-index: 0;

		.bg {
			z-index: 1;
			display: block;
			position: relative;
		}
		.darkstrand {
			position: absolute;
			top: 10%;
			left: -12%;
			z-index: 2;
			width: 131%;
		}
		.lightstrand {
			position: absolute;
			top: -18%;
			left: 13.5%;
			z-index: 3;
			width: 77.6%;
		}
		.bars-bottom {
			position: absolute;
			left: 0%;
			top: 80%;
			width: 28%;
			height: 28%;
			z-index: 2;
			img {
				position: absolute;
				z-index: 2;
				@include opacity(0);
				&:nth-child(1) {
					width:0;
					left: -17%;
					top: -8%;
				}
				&:nth-child(2) {
					width:0;
					top: -27%;
					left: 5%;
				}
				&:nth-child(3) {
					width:0;
					top: -47%;
					left: 40%;
				}
				&:nth-child(4) {
					width:0;
					top: -65%;
					left: 72%;
				}
			}
		}
		.bars-top {
			position:absolute;
			left: 50%;
			top: 10%;
			width: 37%;
			height: 37%;
			z-index: 2;
			img {
				position: absolute;
				z-index: 3;
				@include opacity(0);
				&:nth-child(1) {
					width:0;
					top: 33.5%;
					left: -11.3%;
				}
				&:nth-child(2) {
					width:0;
					top: 5.5%;
					left: 5.5%;
				}
				&:nth-child(3) {
					width:0;
					top: -12%;
					left: 27%;
				}
				&:nth-child(4) {
					width:0;
					top: -33.5%;
					left: 49.5%;
				}
				&:nth-child(5) {
					width:0;
					top: -50%;
					left: 70%;
				}
				&:nth-child(6) {
					width:0;
					top: -66%;
					left: 88%;
				}
			}
		}
		.dots {
			position:absolute;
			top: -25%;
			left: 12.5%;
			height: 100%;
			width: 100%;

			img {
				position: absolute;
				z-index: 3;
				@include opacity(0);

				width: 7.9%;

				&:nth-child(1) {
					top: 135%;
					left: 11%;
				}
				&:nth-child(2) {
					top: 126.5%;
					left: 18.3%;
				}
				&:nth-child(3) {
					top: 118.5%;
					left: 23.7%;
				}
				&:nth-child(4) {
					top: 109%;
					left: 27%;
				}
				&:nth-child(5) {
					top: 99%;
					left: 30%;
				}
				&:nth-child(6) {
					top: 88.5%;
					left: 33.3%;
				}
				&:nth-child(7) {
					top: 51%;
					left: 21.2%;
				}
				&:nth-child(8) {
					top: 39.5%;
					left: 24.5%;
				}
				&:nth-child(9) {
					top: 29%;
					left: 30%;
				}
				&:nth-child(10) {
					top: 19.5%;
					left: 37.5%;
				}
				&:nth-child(11) {
					top: 11.5%;
					left: 45%;
				}
				&:nth-child(12) {
					top: 6%;
					left: 54%;
				}
				&:nth-child(13) {
					top: 1.2%;
					left: 63%;
				}
			}
		}
		&.active {
				.bars-bottom {
					img {
						@include opacity(1);
						@each $bcount in 1, 2, 3, 4 {
							&:nth-child(#{$bcount}) {
								@include transition(all 500ms $bcount * 50ms ease-in-out);
							}
						}
						&:nth-child(1) {
							width: 98%;
						}
						&:nth-child(2) {
							width: 95%;
						}
						&:nth-child(3) {
							width: 84.6%;
						}
						&:nth-child(4) {
							width: 66.8%;
						}
					}
				}
				.bars-top {
					img {
						@include opacity(1);
						@each $bcount in 1, 2, 3, 4, 5, 6, 7 {
							&:nth-child(#{$bcount}) {
								@include transition(all 700ms $bcount * 100ms ease-in-out);
							}
						}
						&:nth-child(1) {
							width: 78%;
						}
						&:nth-child(2) {
							width: 90.3%;
						}
						&:nth-child(3) {
							width: 93.6%;
						}
						&:nth-child(4) {
							width: 94.7%;
						}
						&:nth-child(5) {
							width: 91.4%;
						}
						&:nth-child(6) {
							width: 84.7%;
						}
					}
				}
				.dots {
					img {
						@each $count in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13 {
						&:nth-child(#{$count}) {
							@include opacity(1);
							@include transition(all 250ms ($count * 50) + 100ms ease-out);
						}
					}
				}
			}
		}
	}
}
