.background.heartworm {
	max-width: round(image-width("../images/animation/heartworm/2x/background-2x.png") / 2);

	.sticker {
		position: relative;
		z-index: 0;

		.bg {
			display: block;
		}

		.part {
			position: absolute;
			margin: 0 auto;
			text-align: center;
			z-index: 3;

			&.heart {
				left: 14.7%;
				top: 18.7%;
				width: 29.6%;
			}

			$wingWidth: 30.5%;

			&.leftwing {
				left: 37.7%;
				top: 63.9%;
				width: $wingWidth;
			}
			&.rightwing {
				left: 74.8%;
				top: 63.9%;
				width: $wingWidth;
			}
		}
		&.active {
			.heart {
				@include animation(heartbeat2, 1000ms, 0ms, 3, cubic-bezier(0,1.49,.13,.95));
				@include animation-fill(forwards);
				@include perspective(1000px);
				@include transform(scale(1));
			}
			.leftwing {
				@include animation(mosqito-left, 200ms, 0ms, 15, ease);
				@include apply-origin(100% 30%, false);
				@include perspective(1000px);
			}
			.rightwing {
				@include apply-origin(0% 30%, false);
				@include perspective(1000px);
				@include animation(mosqito-right, 200ms, 0ms, 15, ease);
			}
		}
	}
}

@include keyframes(heartbeat) {
	0%, 100% {
		@include transform(scale(1));
	}
	25% {
		@include transform(scale(0.90));
	}
	30% {
		@include transform(scale(0.80));
	}
	80% {
		@include transform(scale(1));
	}
}

@include keyframes(heartbeat2) {
	0%, 100% {
		@include transform(scale(1));
	}
	33% {
		@include transform(scale(1));
	}
	44% {
		@include transform(scale(1.10));
	}
	66% {
		@include transform(scale(1));
	}
}

@include keyframes(mosqito-left) {
	0%, 100% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(10deg));
	}
}
@include keyframes(mosqito-right) {
	0%, 100% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(-10deg));
	}
}
