.background.ova {
	max-width: round(image-width("../images/animation/ova-parasite/HT_Ova_PetriDish@2x.png") / 2);
	margin: 0 21% -7% 3%;

	/* phone */
	@media only screen and (max-width:($mq-phone)) {
		margin: 13% 19% 0 0;
	}

	.sticker {
		position: relative;
		z-index: 0;

		.bg {
			display: block;
			position: relative;
			z-index: 1;
		}

		.part {
			position: absolute;
			z-index: 3;
		}

		.lense {
			position: absolute;
			z-index: 4;

			top: -17%;
			left: 51%;

			width: 76%;
			height: 75%;

			.loupe {
				position: absolute;
			}

			.critters {
				position: absolute;
				border-radius: 50%;
				height: 94%;
				width: 94%;
				overflow:hidden;
				top: 3%;
				left: 4%;
				background-color:#fff;
				z-index: -1;

				.a {
					@include transform(translateZ(0));
					top: 51%;
					left: 41%;
					width: 19%;
				}
				.b {
					@include transform(translateZ(0));
					top: 22%;
					left: 56%;
					width: 17.5%;
				}
				.c {
					@include transform(translateZ(0));
					top: 13.5%;
					left: 16.5%;
					width: 38.5%;
				}
			}
		}
		&.active {
			.lense {
				.critters {
					.a {
						@include animation(a-critter, 10s, 0, 1, linear);
						@include animation-fill(forwards);
					}
					.b {
						@include animation-fill(forwards);
						@include animation(b-critter, 10s, 0, 1, linear);
					}
					.c {
						@include animation(c-critter, 10s, 0, 1, linear);
						@include animation-fill(forwards);
					}
				}
			}
		}
	}
}

@include keyframes(a-critter) {
	100% {
		top: 49%;
		left: 27%;
		@include transform(rotate(-45deg));
	}
}
@include keyframes(b-critter) {
	0% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(92deg));
		left: 74%;
	}
}
@include keyframes(c-critter) {
	0%  {
		@include transform(rotate(0deg));
	}
	100% {
		top: 11.5%;
		left: 10%;
		@include transform(rotate(-48deg));
	}
}
