.background.t4 {
	max-width: round(image-width("../images/healthtracks/animation/thyroxine/2x/background@2x.png") / 2);
	margin: -3% 10% 0% 11%;

	/* phone */
	@media only screen and (max-width:($mq-phone)) {
		margin-top: 0;
		margin-bottom: 10%;
	}

	.sticker {
		position: relative;
		z-index: 0;

		.bg {
			display: block;
		}

		.part {
			position: absolute;

			img {
				position: absolute;
				z-index: 3;
			}
		}
		.lever {
			top: 5%;
			left: -17%;
			width: 61%;
			height: 35%;
			@include transform(rotate(0deg));
			z-index:3;
			@include animation-fill(forwards);
			@include transform-origin(13%, 11%);
		}
		.gear-big {
			top: 44%;
			display: block;
			left: 3%;
			img {
				&:nth-child(2) {
					top: 15%;
					left: 16%;
					width: 68%;
				}
			}
			width: 67%;
			height: 67%;
		}
		.gear-med {
			top: 9%;
			left: 51%;
			img {
				&:nth-child(2) {
					top: 18%;
					left: 21%;
					width: 60%;
				}
			}
			width: 47%;
			height: 47%;
		}
		.gear-small {
			top: 50%;
			left: 80%;
			img {
				&:nth-child(2) {
					top: 26%;
					left: 25%;
					width: 48%;
				}
			}
			width: 33%;
			height: 32%;
		}
		&.active {
			.lever {
				z-index:3;
				@include animation(lever, 5s, 0ms, 1, ease-in-out);
			}
			.gear-big {
				img {
					&:nth-child(1) {
						z-index:3;
						@include animation(gear-big, 2500ms, 0ms, 2, linear);
						@include animation-fill(forwards);
					}
				}
			}
			.gear-med {
				img {
					&:nth-child(1) {
						z-index:3;
						@include animation(gear-med, 2500ms, 0ms, 2, linear);
						@include animation-fill(forwards);
					}
				}

			}
			.gear-small {
				img {
					&:nth-child(1) {
						z-index:3;
						@include animation(gear-big, 2500ms, 0ms, 2, linear);
						@include animation-fill(forwards);
					}
				}
			}
		}
	}
}

@include keyframes(lever) {
	0%, 100% {
		top: 5%;
		left: -17%;
		@include transform(rotate(0deg));
	}
	25% {
		top: 5%;
		left: -17%;
		@include transform(rotate(3deg));
	}
	50% {
		@include transform(rotate(-4deg));
	}
	75% {
		@include transform(rotate(3deg));
	}
}

@include keyframes(gear-big) {
	0% {
		@include transform(rotate(0deg))
	}
	50% {
		@include transform(rotate(180deg));
	}
	100% {
		@include transform(rotate(360deg))
	}
}
@include keyframes(gear-med) {
	0% {
		@include transform(rotate(0deg))
	}
	50% {
		@include transform(rotate(-180deg));
	}
	100% {
		@include transform(rotate(-360deg))
	}
}
