.background.urine {
	max-width: round(image-width("../images/animation/urine/background@2x.png") / 2);
	margin: 0 0 0 27%;

	/* phone */
	@media (max-width:($mq-phone)) {
		margin-left: 18%;
	}

	.sticker {
		position: relative;
		z-index: 0;

		.background-sticker {
			display: block;
			position: relative;
			z-index: 1;
		}

		.tank {
			position: absolute;
			width: 33%;
			height: 38.5%;
			left: 50%;
			top: 42%;

			background: #FFF;
			overflow: hidden;

			.water {
				position: absolute;
				z-index: 0;

				left: 0;
				top: 57%;

				width: 100%;
				height: 100%;

				background: url("../images/animation/urine/pee@2x.png") no-repeat;
				background-size: 100%;
			}
		}

		.portholes {
			width: 79%;
			height: 69.6%;
			position: absolute;
			top: 12.5%;
			left: 6%;
			img {
				position: absolute;
				z-index: 2;

				&.holes {
					width: 100%;
				}

				&.grate {
					width: 40%;
					top: 2%;
					left: 3%;
				}
			}
		}



		.bubbles {
			position: absolute;
			top: 15%;
			left: -35%;
			z-index: 1;
			width:43%;
			height: 49%;

			.bubble {
				position: absolute;
				z-index: 3;

				&:nth-child(1) {
					left: 0;
					top: 21.5%;
					width: 28%;
				}
				&:nth-child(2) {
					left: -13%;
					top: 11.5%;
					width: 15.5%;
				}
				&:nth-child(3) {
					left: 29%;
					top: 19.5%;
					width: 14.5%;
				}
				&:nth-child(4) {
					left: 101%;
					top: 24.5%;
					width: 11.5%;
				}
				&:nth-child(5) {
					left: 90.5%;
					top: 42%;
					width: 11.2%;
				}
				&:nth-child(6) {
					left: -12.5%;
					top: 45.5%;
					width: 17.3%;
				}
				&:nth-child(7) {
					left: 70.5%;
					top: 23%;
					width: 25.4%;
				}
				&:nth-child(8) {
					left: -31.5%;
					top: 30.5%;
					width: 22%;
				}
				&:nth-child(9) {
					left: 22.5%;
					top: 42%;
					width: 28%;
				}
				&:nth-child(10) {
					left: 47.5%;
					top: 31.5%;
					width: 15%;
				}
				&:nth-child(11) {
					left: 23.5%;
					top: 6%;
					width: 17.3%;
				}
				&:nth-child(12) {
					left: 53.5%;
					top: 11.5%;
					width: 17.2%;
				}
			}

		}

		.drop {
			position: absolute;
			left: 97%;
			top: 67%;
			z-index: 0;
			width: 3%;

			img {
				display: block;
			}
		}

		&.active {
			.bubbles {
				.bubble {
					@for $i from 1 through 12 {
						&:nth-child(#{$i}) {
							@include transition(all 2100ms #{$i * 4}ms ease-in-out);
						}
					}
					&:nth-child(1) {
						left: 120.5%;
					}
					&:nth-child(2) {
						left: 132%;
					}
					&:nth-child(3) {
						left: 107.5%;
					}
					&:nth-child(4) {
						left: 163%;
					}
					&:nth-child(5) {
						left: 161%;
					}
					&:nth-child(6) {
						left: 122.5%;
					}
					&:nth-child(7) {
						left: 141%;
					}
					&:nth-child(8) {
						left: 98%;
					}
					&:nth-child(9) {
						left: 135%;
					}
					&:nth-child(10) {
						left: 113%;
					}
					&:nth-child(11) {
						left: 114%;
					}
					&:nth-child(12) {
						left: 145.5%;
					}
				}
			}
			.tank {
				.water {
					top: 44.5%;
					@include transition(all 1500ms 600ms ease-out);
				}
			}
			.drop {
				@include transition(all 500ms 2000ms cubic-bezier(1,.01,.1,.1));
				top: 87%;
			}
		}
	}
}
