.animation {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	height: 1024px;
	width: 100%;
	background: transparent;
	.background.urine {
		background-color:#7b58af;
		min-height:600px;
		.sticker {
			.background-sticker {
				position: relative;
				z-index:1;
				left: 450px;
				top: 75px;
			}
			.tank  {
				width: 193px;
				background: #FFF;
				height: 150px;
				position: absolute;
				left: 643px;
				top: 299px;
				.water {
					background: url("../images/animation/urine/pee.png") no-repeat rgba(0, 0, 0, 0);
					position: absolute;
					width: 244px;
					left: 0;
					top: 90px;
					height: 219px;
					z-index: 0;
					background-size: 85%;
				}
			}

			.portholes {
				width: 367px;
				height: 284px;
				position: absolute;
				top: 27px;
				left: 478px;
				img {
					position: relative;
					z-index: 2;
				}
				img.grate {
					position: relative;
					top: 159px;
					left: 7px;
					z-index: 2;
				}
			}



			.bubbles {
				position: absolute;
				top: 184px;
				left: 289px;
				z-index: 1;
				float:left;
				width:200px;
				.bubble {
					position: absolute;
					margin: 0 auto;
					text-align: center;
					z-index: 3;
					left: 32.3%;
					top: 25%;
					&:nth-child(1) {
						left: 0;
						margin-top: 43px;
					}
					&:nth-child(2) {
						left: -26px;
						margin-top: 23px;
					}
					&:nth-child(3) {
						left: 58px;
						margin-top: 47px;
					}
					&:nth-child(4) {
						left: 202px;
						margin-top: 49px;
					}
					&:nth-child(5) {
						left: 181px;
						margin-top: 84px;
					}
					&:nth-child(6) {
						left: -25px;
						margin-top: 91px;
					}
					&:nth-child(7) {
						left: 141px;
						margin-top: 46px;
					}
					&:nth-child(8) {
						left: -63px;
						margin-top: 61px;
					}
					&:nth-child(9) {
						left: 45px;
						margin-top: 80px;
					}
					&:nth-child(10) {
						left: 95px;
						margin-top: 63px;
					}
					&:nth-child(11) {
						left: 47px;
						margin-top: 12px;
					}
					&:nth-child(12) {
						left: 107px;
						margin-top: 23px;
					}
				}

			}

			.drop {
				position: absolute;
				left: 903px;
				top: 397px;
				z-index: 0;
			}


			&.active {
				.bubbles {
					.bubble {
						@for $i from 1 through 12 {
							&:nth-child(#{$i}) {
								@include transition(all 2100ms #{$i * 4}ms ease-in-out);
							}
						}
						&:nth-child(1) {
							left: 241px;
							margin-top: 43px;
						}
						&:nth-child(2) {
							left: 264px;
							margin-top: 23px;
						}
						&:nth-child(3) {
							left: 215px;
							margin-top: 47px;
						}
						&:nth-child(4) {
							left: 326px;
							margin-top: 49px;
						}
						&:nth-child(5) {
							left: 326px;
							margin-top: 84px;
						}
						&:nth-child(6) {
							left: 245px;
							margin-top: 91px;
						}
						&:nth-child(7) {
							left: 282px;
							margin-top: 46px;
						}
						&:nth-child(8) {
							left: 190px;
							margin-top: 61px;
						}
						&:nth-child(9) {
							left: 270px;
							margin-top: 80px;
						}
						&:nth-child(10) {
							left: 226px;
							margin-top: 63px;
						}
						&:nth-child(11) {
							left: 228px;
							margin-top: 12px;
						}
						&:nth-child(12) {
							left: 291px;
							margin-top: 23px;
						}
					}
				}
				.tank {
					.water {
						top: 70px;
						@include transition(all 1500ms 600ms ease-out);
					}
				}
				.drop {
					@include transition(all 500ms 2000ms cubic-bezier(1,.01,.1,.1));
					top:475px;
				}
			}
		}
	}
}
