.view-subtest-pod-base {
	@include secondaryFont;
	max-width: 235px;
    margin: 0 auto;

    @media print {
        margin: 0;
    }
	
	>.inner {
		background-color: #fcfcfb;
		border: 1px solid #a3a3a3;
		border-radius: 4px;

		padding: 15px 15px;

        >.header {
            font-size: 138.5%;
            font-weight: bold;
            text-align: center;

            padding-bottom: 10px;
            border-bottom: 1px solid #6b6b6b;
            text-transform: uppercase;

            display: table;
            width: 100%;

            @media print {
                font-size: 116%;
            }

            .title {
                display: table-cell;
                vertical-align: middle;
            }
        }
	}

    &.title-no-text-transform {
        .title {
            text-transform: none;
        }
    }

    /* phone */
    @media only screen and (max-width:($mq-phone)), print {
        max-width: 200px;
        
        >.inner {
            padding: 10px 5px;

            >.header {
                padding-bottom: 5px;
            }
        }
    }
}
