.view-subtest-pod-color {
	margin: 10px 0 0;

	.scale {
		display: block;
		width: image-width('../images/subtest/pod/color/good-2x.png') / 2;
		margin: 0 auto;
	}

	.widget-indicator {
		display: block;
		margin: 0 auto;
		cursor: pointer;
	}

	.label {
		text-align: center;
		font-weight: bold;
		font-size: 210%;


	    /* phone */
	    @media only screen and (max-width:($mq-phone)),
	        only print {
	        	font-size: 138.5%;
	    }
	}

	.description {
		display: none;
	}
}
