<div class="view-mainmenu">
	<div class="swipeMe"></div>
	<div class="mainNav clearfix">
		<ul class="secondaryMenu">
			<li>
				Welcome, Jane Silverman
			</li>
			<li>
				<a href="#">Log Out</a>
			</li>
		</ul>

		<div class="page-section">
			<div class="mainMenuWrapper">
				<ul class="mainMenu">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Pet Records</a>
					</li>
					<li>
						<a href="#">Tools</a>
					</li>
					<li>
						<a href="#">Care</a>
					</li>
					<li>
						<a href="#">Photos</a>
					</li>
					<li>
						<a href="#">Community</a>
					</li>
					<li>
						<a href="#">Shop</a>
					</li>
				</ul>
			</div>
		
			<a href="javascript:;" class="menuTrigger">Main Menu</a>
		</div>
	</div>
</div>
