<div class="view-mainmenu">
	<div class="page-section">
		<div class="swipeMe"></div>
		<div class="mainNav clearfix">
			<ul class="secondaryMenu">
				<li>
					Welcome, {{userDetails.first_name}} {{userDetails.last_name}}
				</li>
				<li>
					<a href="{{logoutLink.url}}">{{logoutLink.text}}</a>
				</li>
			</ul>

			{{#if menuLinks}}
			<div class="page-section">
				<div class="mainMenuWrapper">
					<ul class="mainMenu">
						{{#each menuLinks}}
						<li class="type-{{type}}">
							<a href="{{url}}">{{text}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			
				<a href="javascript:;" class="menuTrigger">Main Menu</a>
			</div>
			{{/if}}
		</div>
	</div>
</div>
