<div class="view-navigation yui3-hidden-tablet yui3-hidden-desktop">
    <div class="nav-items">
        <div class="nav-item nav-toggle"><span>Show/Hide Menu</span></div>
        <div class="nav-options">
            <div class="nav-item section overview" data-section=""><span>Overview</span></div>
            {{#each tests}}
            <div class="nav-item section test-{{type}} test-id-{{id}}" data-section="section/{{id}}"><span>{{title}}</span></div>
            {{/each}}
        </div>
    </div>
</div>
