<div class="view-survey reveal-modal">
    <div class="outer">
        <a class="close-reveal-modal"></a>

        <div class="inner">
            <h1 class="title">Help us make Healthtracks even better and you could win a $100 Visa gift card.</h1>
            <p class="text">Simply answer this brief survey and you'll be entered into the drawing.</p>
            <div class="btn-container"><a class="btn accept" href="{{url}}" target="_blank">Sure, I'll take the survey</a></div>
            <p class="link-container"><a href="" class="link decline">No thanks</a></p>
        </div>
    </div>
</div>
