<div class="view-widget-test-overview">
    <div class="test-section-inner">
        <div class="yui3-g-r">
            <!-- description -->
            <div class="yui3-u-1-2 section">
                <div class="yui3-u-c">
                    <div class="description">{{description}}&nbsp;<span class="widget-arrow"><span class="inner"></span></span></div>

                    <div class="more">
                        <p>{{more}}</p>
                    </div>
                </div>
            </div>

            <!-- diagram -->
            <div class="yui3-u-1-2 section">
                <div class="yui3-u-c">
                    <div class="diagram-container">
                        <div class="inner">
                            <div class="animation"></div>
                            <img class="diagram" src="images/healthtracks/test/{{type}}/{{diagramFilename}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
