<div class="view-widget-test-overview">

    <div class="yui3-g-r section-heading">
        <!-- description -->
        <div class="yui3-u-1-2">
            <div class="yui3-u-c column">
                <div class="inner">
                    <h1>{{renderTemplate heading}}</h1>
                    <p>{{renderTemplate text}}</p>
                </div>
            </div>
        </div>

        <!-- diagram -->
        <div class="yui3-u-1-2 yui3-hidden-phone">
            <div class="yui3-u-c diagram-container">
                <div class="inner">
                    <img class="diagram" src="images/test/{{type}}/diagram.png" />
                </div>
            </div>
        </div>
    </div>

</div>
