<div class="background cbc">
	<div class="sticker">
		<img src="images/healthtracks/animation/cbc/2x/large-circle-2x.png" class="circle" alt="">
		<img src="images/healthtracks/animation/cbc/2x/{{species}}-2x.png" class="part animal" alt="">
		<img src="images/healthtracks/animation/cbc/2x/BatteryIcon-2x.png" class="part battery" alt="">
		<img src="images/healthtracks/animation/cbc/2x/ShieldIcon-2x.png" class="part shield" alt="">
		<img src="images/healthtracks/animation/cbc/2x/BandAidIcon-2x.png" class="part bandaid" alt="">
	</div>
</div>

