<div class="background felv-fiv">
	<div class="sticker">
		<img src="images/healthtracks/animation/felv-fiv/circle-background@2x.png" class="bg" alt="">
		<div class="darkstrand">
			<img src="images/healthtracks/animation/felv-fiv/dark-strand@2x.png" alt="">
		</div>
		<div class="lightstrand">
			<img src="images/healthtracks/animation/felv-fiv/light-strand@2x.png" alt="">
		</div>
		<div class="bars-bottom">
			<img src="images/healthtracks/animation/felv-fiv/bar-10@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-9@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-8@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-7@2x.png" alt="">
		</div>
		<div class="bars-top">
			<img src="images/healthtracks/animation/felv-fiv/bar-6@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-5@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-4@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-3@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-2@2x.png" alt="">
			<img src="images/healthtracks/animation/felv-fiv/bar-1@2x.png" alt="">
		</div>
		<div class="dots">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
			<img src="images/healthtracks/animation/felv-fiv/dot@2x.png" alt="" class="dot">
		</div>
	</div>
</div>

