<div class="background felv-fiv">
	<div class="sticker">
		<img src="images/animation/felv-fiv/circle-background.png" class="background" alt="">
		<div class="darkstrand">
			<img src="images/animation/felv-fiv/dark-strand.png" class="darkstrand" alt="">
		</div>
		<div class="lightstrand">
			<img src="images/animation/felv-fiv/light-strand.png" class="lightstrand" alt="">
		</div>
		<div class="bars-bottom">
			<img src="images/animation/felv-fiv/bar-10.png" alt="">
			<img src="images/animation/felv-fiv/bar-9.png" alt="">
			<img src="images/animation/felv-fiv/bar-8.png" alt="">
			<img src="images/animation/felv-fiv/bar-7.png" alt="">
		</div>
		<div class="bars-top">
			<img src="images/animation/felv-fiv/bar-6.png" alt="">
			<img src="images/animation/felv-fiv/bar-5.png" alt="">
			<img src="images/animation/felv-fiv/bar-4.png" alt="">
			<img src="images/animation/felv-fiv/bar-3.png" alt="">
			<img src="images/animation/felv-fiv/bar-2.png" alt="">
			<img src="images/animation/felv-fiv/bar-1.png" alt="">
		</div>
		<div class="dots">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
			<img src="images/animation/felv-fiv/dot.png" alt="" class="dot">
		</div>
	</div>
</div>

