<div class="background ova">
	<div class="sticker">
		<img src="images/animation/ova-parasite/HT_Ova_PetriDish.png" class="background" alt="">

		<div class="lense">
			<img src="images/animation/chemistry/loupe.png" alt="">
			<div class="critters">
				<img src="images/animation/ova-parasite/ova-critter-3.png" class="a">
				<img src="images/animation/ova-parasite/ova-critter-2.png" class="b">
				<img src="images/animation/ova-parasite/ova-critter-1.png" class="c">
			</div>
		</div>
	</div>
</div>

