<div class="background ova">
	<div class="sticker">
		<img src="/images/healthtracks/animation/ova-parasite/HT_Ova_PetriDish@2x.png" class="bg" alt="">

		<div class="lense">
			<img src="/images/healthtracks/animation/chemistry/loupe@2x.png" class="loupe" alt="">
			<div class="critters">
				<img src="/images/healthtracks/animation/ova-parasite/ova-critter-3@2x.png" class="part a">
				<img src="/images/healthtracks/animation/ova-parasite/ova-critter-2@2x.png" class="part b">
				<img src="/images/healthtracks/animation/ova-parasite/ova-critter-1@2x.png" class="part c">
			</div>
		</div>
	</div>
</div>

