<div class="background t4">
	<div class="sticker">
		<img src="images/animation/thyroxine/1x/background.png" alt="">

		<div class="lever">
			<img src="images/animation/thyroxine/1x/lever.png" alt="">
		</div>

		<div class="gear-big">
			<img src="images/animation/thyroxine/1x/lrg-gear-outside.png" alt="">
			<img src="images/animation/thyroxine/1x/lrg-gear-inside.png" alt="">
		</div>

		<div class="gear-med">
			<img src="images/animation/thyroxine/1x/med-gear.png" alt="">
			<img src="images/animation/thyroxine/1x/med-gear-inside.png" alt="">
		</div>

		<div class="gear-small">
			<img src="images/animation/thyroxine/1x/sm-gear.png" alt="">
			<img src="images/animation/thyroxine/1x/sm-gear-inside.png" alt="">
		</div>
	</div>
</div>

