<div class="background t4">
	<div class="sticker">
		<img src="images/animation/thyroxine/2x/background@2x.png" class="bg" alt="">

		<div class="part lever">
			<img src="images/animation/thyroxine/2x/lever@2x.png" alt="">
		</div>

		<div class="part gear-big">
			<img src="images/animation/thyroxine/2x/lrg-gear-outside@2x.png" alt="">
			<img src="images/animation/thyroxine/2x/lrg-gear-inside@2x.png" alt="">
		</div>

		<div class="part gear-med">
			<img src="images/animation/thyroxine/2x/med-gear@2x.png" alt="">
			<img src="images/animation/thyroxine/2x/med-gear-inside@2x.png" alt="">
		</div>

		<div class="part gear-small">
			<img src="images/animation/thyroxine/2x/sm-gear@2x.png" alt="">
			<img src="images/animation/thyroxine/2x/sm-gear-inside@2x.png" alt="">
		</div>
	</div>
</div>

