<div class="background urine">
	<div class="sticker">
		<img src="images/animation/urine/background.png" class="background-sticker" alt="">
		
		<div class="tank">
			<div class="water"></div>
		</div>

		<div class="portholes">
			<img src="images/animation/urine/grate.png" class="grate" alt="">
			<img src="images/animation/urine/portholes.png" alt="">
		</div>

		<div class="drop">
			<img src="images/animation/urine/drop.png" alt="">
		</div>

		<div class="bubbles">
			<img src="images/animation/urine/bubble01.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble02.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble03.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble04.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble05.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble06.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble07.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble08.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble09.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble10.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble11.png" alt="" class="bubble">
			<img src="images/animation/urine/bubble12.png" alt="" class="bubble">
		</div>
	</div>
</div>
