.view-mainmenu {
	.page-section {
		background-color: #0099be;
	}
}

.mainNav {
	height:105px;
}

.mainMenu {
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	margin-top:15px;
	margin-bottom:20px;
	text-align:center;
	li {
		display:inline-block;
		margin-left:-3px;
		&:first-child {
			&:hover {
				border-left:1px solid #d6f1f5;
			}
			border-left:1px solid #afcae0;
		}
		&.last {
			a {
				color:#e7bc99;
			}
		}
		a {
			float:left;
			height:45px;
			line-height:45px;
			padding:0 35px;
			text-decoration:none;
			color:#fff;
			font-size:17px;
			text-transform:uppercase;
			font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Arial, sans-serif;
			font-weight:normal!important;
			-webkit-transition:all 0.1s ease-out;
			-moz-transition:all 0.1s ease-out;
			-ms-transition:all 0.1s ease-out;
			-o-transition:all 0.1s ease-out;
			transition:all 0.1s ease-out;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			border:1px solid #afcae0;
			border-left:0;
			&.hover {
				background:#d6f1f5;
				color:#5e95c0;
				border:1px solid #d6f1f5;
				border-left:0;
			}
		}
	}
}

.menuTrigger {
	@include secondaryFont;
	float:left;
	margin-top:14px; 
	margin-left:10px;
	text-decoration:none;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	display:none;
	padding-left:30px;
	height:15px;
	line-height:18px;
	
	background: url(../images/healthtracks/navigation/icon-main-menu.png) no-repeat 0 0;
	@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi) {
		background: url(../images/healthtracks/navigation/icon-main-menu-2x.png) no-repeat 0 0;
		background-size: (image-width("../images/healthtracks/navigation/icon-main-menu-2x.png") / 2) (image-height("../images/healthtracks/navigation/icon-main-menu-2x.png") / 2);
	}

	&:visited {
		color:#333;
	}
}

.swipeMe {
	display:none;
}

.mainNav .page-section {
	padding:0;
	width:100%;
	float:left;
	max-width:100%;
	text-align:center;
}

/* phone & tablet */
@media only screen and (max-width:(1000px)) {
	.mainMenuWrapper {
		position:fixed;
		left:-151px;
		top:0;
		width:150px;
		background:#0099be;
		height:100%;
		border-right:1px solid #afcae0; 
		&.active { 
			left:0;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
			z-index: 10;
		}
	}
	
	.mainMenu {
		margin:0;
		li {
			border:0!important;
			border-bottom:1px solid #afcae0!important;
			width:100%;
			float:left;
			margin:0;
			a {
				border:0!important;
				width:100%;
				text-align:right;
				padding:0 15px;
				font-size:14px;
				&.hover {
					border:0!important;
					color:#6197c6;
					background:#c8f2f5;
				}
			}
		}
	}
	
	.mainNav .page-section {
		width:auto!important;
	}
	
	.menuTrigger {
		display:block;
		position:relative;
	}
	
	.page {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		position:relative;
		&.active {
			left:150px;
		}
	}
	
	.mainNav {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		position:relative;
	}
	
	.swipeMe {
		display:none;
		position:fixed;
		left:0;
		top:0;
		width:100px;
		height:100%;
		&.active {
			left:150px;
			width:100%;
		}
	}
	
	.mainNav {
		height:50px;
	}

	.test-headers {
		&.active {
			left: 150px;
		}
	}
} 

@media only screen and (max-height:(320px)) {
	.mainMenu {
		overflow-y:scroll;
		height:240px;
		position:relative;
	}
}

@media only screen and (max-width:($mq-phone)) {
	.secondaryMenu li:first-child {
		display:none; 
	}
	
	.view-navigation.active {
		top:-3px!important;
	}
}

@media only screen and (max-width:($mq-tablet)) {
	.view-navigation.active {
		top:7px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
	.page-section-top {
		padding-top:11px;
	}
}

.secondaryMenu {
	float:right;
	list-style:none;
	padding:0;
	margin:0;
	margin-top:16px;
	margin-right:10px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	li {
		@include secondaryFont;
		float:left;
		margin-left:20px;
		font-size:14px;
		color:#fff;
		font-weight:400;
		a {
			color:#fff;
			&:visited {
				color:#fff;
			}
		}
		&:first-child {
			margin-left:0;
		}
	}
}

.secondaryWrapper {
	float:right;
	width:100%;
}
