.view-overview {
	$maxWidthNoAvatar: 640px - 1px;
	@include translateZ(0);
	.result-summary {
		background-color: #0099be;
	}

	.avatar-flag-container {
		margin-top: 0;
		margin-bottom: 0;
		padding: 1px 0;
	}

	.avatar-flag {
		width: 100%;
		position: relative;
		margin: 20px 0 30px 0;

		@media only screen and (max-width: $maxWidthNoAvatar) {
			margin-bottom: 15px;
		}

		.avatar-container {
			position: absolute;
			top: 0;
			left: 4.3%;
			width: 24%;
			height: 100%;
			overflow: hidden;

			@media only screen and (max-width:($mq-tablet - 1px)) {
				left: 0;
				width: 31%
			}

			@media only screen and (max-width: $maxWidthNoAvatar) {
				display: none;
			}
		}

		.avatar {
			display: block;
			width: 100%;
		}

		.flag {
			position: relative;
			z-index: 1;
			display: block;

			@media only screen and (max-width: $maxWidthNoAvatar) {
				display: none;
			}
		}

		.content {
			position: absolute;
			top: 0;
			left: 35%;
			z-index: 1;
			width: 56%;
			height: 100%;

			@media only screen and (max-width:($mq-tablet - 1px)) {
				width: 60%;
			}

			@media only screen and (max-width: $maxWidthNoAvatar) {
				width: 100%;
				position: relative;
				left: 0;
			}

			.title {
				color: white;
				position: absolute;
				top: -5px;
				left: 0;
				margin: 0;

				@media only screen and (max-width: $maxWidthNoAvatar) {
					position: relative;
					top: 0;
					margin-bottom: 10px;
				}

				@media only screen and (max-width:($mq-phone)) {
					padding-left: 10px;
				}
			}

			.text-container {
				position: relative;

				margin-top: 6%;
				height: 67%;
				display: table;

				.icon {
				    position: absolute;
				    top: 50%;
				    left: 0;
				    width: image-width("../images/overview/good.png");
				    height: image-height("../images/overview/good.png");
					background-image: url("../images/overview/good.png");
				    margin-top: -1 * (image-height("../images/overview/good.png") / 2);
				    cursor: pointer;

					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (min-resolution: 192dpi) {
						background-image: url("../images/overview/good-2x.png");
						background-size: (image-width("../images/overview/good-2x.png") / 2) (image-height("../images/overview/good-2x.png") / 2);
					}
				}

				@media only screen and (max-width:($mq-tablet - 1px)) {
					margin-top: 7.2%;
				}

				@media only screen and (max-width: $maxWidthNoAvatar) {
					margin-top: 0;
					background-color: white;
					height: 80px;
					background-position: ($pageSectionPaddingLeft + 50px) center;
					margin-left: - $pageSectionPaddingLeft - 50px;
					padding-left: $pageSectionPaddingLeft + 50px;
					width: 100%;

					.icon {
						left: ($pageSectionPaddingLeft + 50px);
					}
				}

				@media only screen and (max-width:($mq-phone)) {
					margin-left: 0;
					padding-left: 0;
					background-position: 10px center;
					width: 100%;
					
					.icon {
						left: 10px;
					}
				}


				&.bad {
					.icon {
						background-image: url("../images/overview/bad.png");

						@media
						only screen and (-webkit-min-device-pixel-ratio: 2),
						only screen and (min-resolution: 192dpi) {
							background-image: url("../images/overview/bad-2x.png");
						}
					}
				}

				.text {
					display: table-cell;
					vertical-align: middle;
					padding-left: 85px;
					margin: 0;
					color: #00beeb;
					font-size: 182%;
					line-height: 104%;

					@media only screen and (max-width: $maxWidthNoAvatar) {
						font-size: 146.5%;
						line-height: 100%;

						padding-right: 35px;
						padding-top: 10px;
						padding-bottom: 10px;

						background-image: url("../images/overview/flag-tail.png");
						background-repeat: no-repeat;
						background-position: right center;

						@media
						only screen and (-webkit-min-device-pixel-ratio: 2),
						only screen and (min-resolution: 192dpi) {
							background-image: url("../images/overview/flag-tail-2x.png");
							background-size: (image-width("../images/overview/flag-tail-2x.png") / 2) (image-height("../images/overview/flag-tail-2x.png") / 2);
						}
					}
				}
			}

			.info {
				@include secondaryFont;
				font-size:  108%;
				margin: 0;
				color: white;
				padding-top: 8px;

				@media only screen and (max-width:($mq-phone)) {
					padding-left: 10px;
				}
			}

			.report-date {
				text-transform: uppercase;
				margin-right: 20px;
			}

			.print, .print:visited {
				color:white;
				display: inline-block;
				text-decoration:underline;
				background-image: url("../images/overview/icon-print.png");
				padding-left: 25px;
				background-repeat: no-repeat;
			}

			a {
				display:inherit;
				text-decoration:none;
			}
		}
	}

	.page-section-ran {
		@include primaryContent;
		margin-top: 2px;

		.testCounter {
			text-align: center;
			margin: 20px 0;
		}
	}

	.page-section-comment {
		@include primaryContent;
		border-top: 1px dotted #C7C7C7;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		h2 {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		
		p {
			margin-top: 0;
		}
	}

	.page-section-next-steps {
		background: url('../images/overview/recap/pattern.png') repeat transparent;
		position: relative;
		margin-top: 2px;
		border-radius: 5px;

		h2 {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		
		p {
			margin-top: 0;
		}
	}


	.widget-circle-arrow {
		position: absolute;
		left: 50%;
		bottom: -44px;
		margin-left: -1 * $widgetCircleArrowWidth / 2;

		@media only screen and (max-width:($mq-phone)) {
			margin-left: -1 * $widgetCircleArrowWidthPhone / 2;
		}
	}

	.contact {
		@include secondaryFont;
		@include mediumFontSize;
		font-weight: bold;
		background-repeat: no-repeat;
		background-position: left 3px;
		margin: 0;

		&.call {
			background-image: url("../images/overview/icon-phone.png");
		}

		&.email {
			background-image: url("../images/overview/icon-email.png");
		}
	}

	.page-section-explore-tests {
		@include primaryContent;
		border-radius: 5px;

		.yui3-u-c {
			text-align: center;
			padding-top: 50px;
			padding-bottom: 15px;
			margin-top: 2px;
			margin-bottom: 0;


			@media only screen and (max-width:($mq-phone)) {
				padding-top: 85px;
			}
		}
	}

	.phone-container {
		font-weight: bold;
	}

	.section-bullet {
		width: 105px;
		float: right;
	}

	/* desktop & tablet */
	@media only screen and (min-width:($mq-phone + 1px)) {
		.page-section-comment {
			padding-top:20px;
			padding-bottom: 10px;
		}
		
		.page-section-next-steps {
			padding-top: 25px;
			padding-bottom: 50px;
		}
	}

	/* phone */
	@media only screen and (max-width:($mq-phone)) {
		.page-section-ran {
			.testCounter {
				margin: 15px 0;
			}
		}
		
		.page-section-next-steps {
			padding: 10px 0;
		}

		.widget-circle-arrow {
			bottom: -82px;

			img {
				margin-left: -1 * $widgetCircleArrowWidthPhone / 2;
			}
		}
	}
}
