.page-section-narrow {
    max-width: $max-page-width;
    margin: 0 auto;

    @media print {
        max-width: none;
    }
}

.page-mainmenu {
    @media print {
        display: none;
    }
}

.page-section-top {
    background-color: #0099be;
    
    /* desktop */
    @media only screen and (min-width:($mq-tablet)) {
        // center logo
        .logo-container {
            margin: 0 5%;
        }
    }

    .logo {
        width: 100%;
        max-width: image-width("../images/page/logo.png") / 2;
    }

    /* tablet & desktop */
    @media only screen and (min-width:($mq-phone + 1)) {
        padding-top: 15px;
    }

    @media print {
        display: none;
    }

    .links {
        font-size:  100%;
        text-align: right;

        a, a:visited {
            @include secondaryFont;
            color: white;
        }

        .logout {
            display: inline-block;
            padding-left: 15px;

            /* phone */
            @media only screen and (max-width:($mq-phone)) {
                padding-right: 50px;
            }
        }
    }
}

.page-section-conclusion {
    background-image: url('../images/overview/recap/pattern.png');
    padding: 10px 0 20px;

    @media print {
        border-top: 1px solid #b9babd;
        background-image: none;
    }

    .widget-circle-arrow {
        margin: 10px auto 20px;
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    .end-of-report {
        margin-top: 10px;

        @include secondaryFont;
        font-weight: bold;
        font-size: 116%;
        text-align: center;
        color: #00c3eb;
    }

    /* phone */
    @media only screen and (max-width:($mq-phone)) {
        padding: 0;

        .widget-circle-arrow {
            margin-top: 0;
            margin-bottom: 10px;
        }

        h1 {
            margin-bottom: 20px;
        }
    }
}

.page-footer {
    @include secondaryFont;
    background-color: #0099BE;
    color: #FFF;
    padding: 30px 0;

    @media print {
        display: none;
    }

    .contact-us {
        color:#ffe507;
        font-size: 167%;
        margin-bottom: 0;
    }

    .clinic {
        font-size: 138.5%;
        color: white;
        text-transform: capitalize;
        margin-top: 5px;
    }

    a, a:visited {
        color: white;
    }

    .link {
        display: block;
        height: 32px;
        line-height: 32px;
        padding-left: 32px + 10px;

        background-repeat: no-repeat;
    }

    .email {
        background-image: url("../images/footer/email.png");
    }

    .phone {
        background-image: url("../images/footer/phone.png");
    }

    .fine-print {
        font-size: 108%;
        margin: 0;
    }

    .section-copyright {
        position: relative;

        .text {
            position: absolute;
            bottom: 10px;
        }
    }

    .section-contact {
        float: right;

        p {
            margin-bottom: 0;
        }
    }

    /* phone */
    @media only screen and (max-width:($mq-phone)) {
        padding: 1px 0;

        .section-copyright {
            margin-top: 25px;
            
            .text {
                bottom: auto;
                position: static;
            }
        }
    }
}

.subsection-chemical-analysis {
	margin-top:33px;
}
