.view-report {
    .test-headers {
        position: fixed;
        top: 0;

        width: 100%;
        max-width: $max-page-width;
        height: $testHeaderHeight;

        z-index: 2;

        overflow: hidden;
        
        @media print {
            display: none;
        }
    }
}