$pageSectionPaddingRight: 30px;
$pageSectionPaddingLeft: 15px;
$testHeaderHeight: 85px;

.page-section {
    padding: 0 $pageSectionPaddingRight 0 $pageSectionPaddingLeft;

    /* Tablet */
    @media (min-width:($mq-phone + 1px)) and (max-width:($mq-tablet - 1px)) {
        padding: 0 40px;
    }

    /* Phone */
    @media (max-width:($mq-phone)) {
        padding: 0;
    }
}

.section-break {
    height: 28px;
    background-image: url("../images/common/diamonds.png");
    background-repeat: no-repeat;
    background-position: center 10px;

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-image: url("../images/common/diamonds-2x.png");
        background-size: image-width("../images/common/diamonds-2x.png") / 2;
    }
}

.caption {
    @include secondaryFont;
    @include mediumFontSize;
    color: #444;
}

$widgetArrowWidth: 22px;
$widgetArrowWidthPhone: 17px;
.widget-arrow {
    $bgImage: "../images/common/arrow.png";
    $bgImage2x: "../images/common/arrow-2x.png";
    $bgImagePhone: "../images/common/arrow-small.png";
    $bgImagePhone2x: "../images/common/arrow-small-2x.png";
    $width: $widgetArrowWidth;
    $widthPhone: $widgetArrowWidthPhone;
    $height: $width;
    $heightPhone: $widthPhone;

    width: $width;
    height: $height;

    display: inline-block;
    vertical-align: middle;

    background-image: url($bgImage);

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-image: url($bgImage2x);
        background-size: (100% * 3);
    }

    .inner {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url($bgImage);
        background-position: ($width * 1) 0;
        border-radius: ($width / 2);

        @include transition(background-position 0.5s);

        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) {
            background-image: url($bgImage2x);
            background-size: (100% * 3);
        }
    }

    &:hover {
        .inner {
            background-position: ($width * 2) 0;
        }
    }

    &.down {
        .inner {
            background-position: 0 ($height * 1);
        }

        &:hover {
            .inner {
                background-position: 0 ($height * 2);
            }
        }
    }

    /* Phone */
    @media (max-width:$mq-phone) {
        &.shrink {
            width: $widthPhone;
            height: $heightPhone;
            background-image: url($bgImagePhone);

            @media 
            only screen and (-webkit-min-device-pixel-ratio: 2), 
            only screen and (min-resolution: 192dpi) {
                background-image: url($bgImagePhone2x);
            }

            .inner {
                background-image: url($bgImagePhone);
                background-position: ($widthPhone * 1) 0;
                border-radius: ($widthPhone / 2);

                @media 
                only screen and (-webkit-min-device-pixel-ratio: 2), 
                only screen and (min-resolution: 192dpi) {
                    background-image: url($bgImagePhone2x);
                }
            }

            &:hover {
                .inner {
                    background-position: ($widthPhone * 2) 0;
                }
            }

            &.down {
                .inner {
                    background-position: 0 ($heightPhone * 1);
                }

                &:hover {
                    .inner {
                        background-position: 0 ($heightPhone * 2);
                    }
                }
            }
        }
    }
}

$widgetIndicatorWidth: 32px;
$widgetIndicatorHeight: $widgetIndicatorWidth;
.widget-indicator {
    width: $widgetIndicatorWidth;
    height: $widgetIndicatorHeight;

    display: inline-block;

    background-image: url("../images/common/result-good.png");

    &.bad {
        background-image: url("../images/common/result-bad.png");
    }

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-image: url("../images/common/result-good-2x.png");
        background-size: 100%;

        &.bad {
            background-image: url("../images/common/result-bad-2x.png");
        }
    }
}

$widgetCircleArrowBgImage: "../images/common/circle-arrow.png";
$widgetCircleArrowBgImage2x: "../images/common/circle-arrow-2x.png";
$widgetCircleArrowWidth: image-width($widgetCircleArrowBgImage);
$widgetCircleArrowBgImagePhone: "../images/common/circle-arrow-small.png";
$widgetCircleArrowBgImagePhone2x: "../images/common/circle-arrow-small-2x.png";
$widgetCircleArrowWidthPhone: image-width($widgetCircleArrowBgImagePhone);
.widget-circle-arrow {
    $width: $widgetCircleArrowWidth;
    $height: $width;

    $widthPhone: $widgetCircleArrowWidthPhone;
    $heightPhone: $widthPhone;

    width: $width;
    height: $height;
    cursor: pointer;

    background-image: url($widgetCircleArrowBgImage);

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-image: url($widgetCircleArrowBgImage2x);
        background-size: 100%;
    }

    .inner {
        height: 100%;
        width: 100%;
        border-radius: $width / 2;

        background-image: url($widgetCircleArrowBgImage);
        background-position: 0 $height;

        @include transition(background-position 0.5s);

        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) {
            background-image: url($widgetCircleArrowBgImage2x);
            background-size: 100%;
        }
    }

    &:hover {
        .inner {
            background-position: 0 ($height * 2);
        }
    }

    &.up {
        .inner {
            background-position: 0 ($height * 4);
        }

        &:hover {
            .inner {
                background-position: 0 ($height * 3);
            }
        }
    }

    @media (max-width:($mq-phone)) {
        width: $widthPhone;
        height: $heightPhone;

        background-image: url($widgetCircleArrowBgImagePhone);

        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) {
            background-image: url($widgetCircleArrowBgImagePhone2x);
        }

        .inner {
            border-radius: $widthPhone / 2;

            background-image: url($widgetCircleArrowBgImagePhone);
            background-position: 0 $heightPhone;

            @media 
            only screen and (-webkit-min-device-pixel-ratio: 2), 
            only screen and (min-resolution: 192dpi) {
                background-image: url($widgetCircleArrowBgImagePhone2x);
            }
        }

        &:hover {
            .inner {
                background-position: 0 ($heightPhone * 2);
            }
        }

        &.up {
            .inner {
                background-position: 0 ($heightPhone * 4);
            }

            &:hover {
                .inner {
                    background-position: 0 ($heightPhone * 3);
                }
            }
        }
    }
}

.message-tooltip {
    .message {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
    }
}

input {
    @include secondaryFont;
    @include mediumFontSize;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=""],
input[type="text"],
input[type="password"] {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px 15px;
}

input[type="submit"],
input[type="button"] {
    border: 0;
    background-color: #ff7e00;
    border-radius: 5px;
    padding: 11px 20px;
    color: white;
    font-weight: bold;
}

span.placeholder {
    @include mediumFontSize;
}
