$pageSectionPaddingRight: 30px;
$pageSectionPaddingLeft: 15px;

.page-section {
    padding: 0 $pageSectionPaddingRight 0 $pageSectionPaddingLeft;

    /* Tablet */
    @media (min-width:($mq-phone + 1px)) and (max-width:($mq-tablet - 1px)) {
        padding: 0 40px;
    }

    /* Phone */
    @media (max-width:($mq-phone)) {
        padding: 0;
    }
}

.section-break {
    height: 28px;
    background-image: url("../images/common/diamonds.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

.caption {
    @include secondaryFont;
    @include mediumFontSize;
    color: #444;
}

input {
    @include secondaryFont;
    @include mediumFontSize;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=""],
input[type="text"],
input[type="password"] {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px 15px;
}

input[type="submit"],
input[type="button"] {
    border: 0;
    background-color: #ff7e00;
    border-radius: 5px;
    padding: 11px 20px;
    color: white;
    font-weight: bold;
}

span.placeholder {
    @include mediumFontSize;
}
