$widgetArrowWidth: 22px;
$widgetArrowWidthPhone: 17px;
.widget-arrow {
    $bgImage: "../images/widget/arrow/arrow.png";
    $bgImage2x: "../images/widget/arrow/arrow-2x.png";
    $bgImagePhone: "../images/widget/arrow/arrow-small.png";
    $bgImagePhone2x: "../images/widget/arrow/arrow-small-2x.png";
    $width: $widgetArrowWidth;
    $widthPhone: $widgetArrowWidthPhone;
    $height: $width;
    $heightPhone: $widthPhone;

    width: $width;
    height: $height;

    display: inline-block;
    vertical-align: middle;

    background-image: url($bgImage);

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-image: url($bgImage2x);
        background-size: (100% * 3);
    }

    .inner {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url($bgImage);
        background-position: ($width * 1) 0;
        border-radius: ($width / 2);

        @include transition(background-position 0.25s linear);

        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) {
            background-image: url($bgImage2x);
            background-size: (100% * 3);
        }
    }

    &:hover {
        .inner {
            background-position: ($width * 2) 0;
        }
    }

    &.down {
        .inner {
            background-position: 0 ($height * 1);
        }

        &:hover {
            .inner {
                background-position: 0 ($height * 2);
            }
        }
    }

    /* Phone */
    @media (max-width:$mq-phone) {
        &.shrink {
            width: $widthPhone;
            height: $heightPhone;
            background-image: url($bgImagePhone);

            @media 
            only screen and (-webkit-min-device-pixel-ratio: 2), 
            only screen and (min-resolution: 192dpi) {
                background-image: url($bgImagePhone2x);
            }

            .inner {
                background-image: url($bgImagePhone);
                background-position: ($widthPhone * 1) 0;
                border-radius: ($widthPhone / 2);

                @media 
                only screen and (-webkit-min-device-pixel-ratio: 2), 
                only screen and (min-resolution: 192dpi) {
                    background-image: url($bgImagePhone2x);
                }
            }

            &:hover {
                .inner {
                    background-position: ($widthPhone * 2) 0;
                }
            }

            &.down {
                .inner {
                    background-position: 0 ($heightPhone * 1);
                }

                &:hover {
                    .inner {
                        background-position: 0 ($heightPhone * 2);
                    }
                }
            }
        }
    }
}
