$widgetIndicatorWidth: image-width("../images/widget/indicator/good.png");
$widgetIndicatorHeight: $widgetIndicatorWidth;
$widgetIndicatorBigWidth: image-width("../images/widget/indicator/good-big.png");
$widgetIndicatorBigHeight: $widgetIndicatorBigWidth;

.widget-indicator {
    $width: $widgetIndicatorWidth;
    $height: $widgetIndicatorHeight;
    $widthBig: $widgetIndicatorBigWidth;
    $heightBig: $widgetIndicatorBigHeight;

    $dotDiameter: 8px;
    $dotExpandedDiameter: 12px;
    $dotBigDiameter: 10px;
    $dotBigExpandedDiameter: 18px;

    width: $width;
    height: $height;

    display: inline-block;
    cursor: pointer;
    position: relative;

    background-image: url("../images/widget/indicator/good.png");

    .dot {
        position: absolute;
        display: block;
        width: $dotDiameter;
        height: $dotDiameter;

        top: 50%;
        left: 50%;
        margin: (-$dotDiameter / 2) 0 0 (-$dotDiameter / 2);

        background-color: #00f7ff;
        border-radius: ($dotDiameter / 2);

        @include transition(all 0.1s ease-out);

        // IE8 and below doesn't support rounded border, so don't even try to show the dot
        display: none\9;
    }

    &:hover {
        .dot {
            width: $dotExpandedDiameter;
            height: $dotExpandedDiameter;
            margin: (-$dotExpandedDiameter / 2) 0 0 (-$dotExpandedDiameter / 2);
            border-radius: ($dotExpandedDiameter / 2);
        }
    }

    &.bad {
        background-image: url("../images/widget/indicator/bad.png");

        .dot {
            background-color: #fff868;
        }
    }

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-image: url("../images/widget/indicator/good-2x.png");
        background-size: 100%;

        &.bad {
            background-image: url("../images/widget/indicator/bad-2x.png");
        }
    }

    // big images
    &.big {
        width: $widthBig;
        height: $heightBig;
        background-image: url("../images/widget/indicator/good-big.png");

        &.bad {
            background-image: url("../images/widget/indicator/bad-big.png");
        }

        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) {
            background-image: url("../images/widget/indicator/good-big-2x.png");

            &.bad {
                background-image: url("../images/widget/indicator/bad-big-2x.png");
            }
        }

        .dot {
            width: $dotBigDiameter;
            height: $dotBigDiameter;
            margin: (-$dotBigDiameter / 2) 0 0 (-$dotBigDiameter / 2);
            border-radius: ($dotBigDiameter / 2);
        }

        &:hover {
            .dot {
                width: $dotBigExpandedDiameter;
                height: $dotBigExpandedDiameter;
                margin: (-$dotBigExpandedDiameter / 2) 0 0 (-$dotBigExpandedDiameter / 2);
                border-radius: ($dotBigExpandedDiameter / 2);
            }
        }
    }
}
