$widgetIndicatorWidth: image-width("../images/widget/indicator/good.png");
$widgetIndicatorHeight: $widgetIndicatorWidth;
$widgetIndicatorBigWidth: image-width("../images/widget/indicator/good-big.png");
$widgetIndicatorBigHeight: $widgetIndicatorBigWidth;
.widget-indicator {
    $width: $widgetIndicatorWidth;
    $height: $widgetIndicatorHeight;
    $widthBig: $widgetIndicatorBigWidth;
    $heightBig: $widgetIndicatorBigHeight;

    width: $width;
    height: $height;

    display: inline-block;
    cursor: pointer;

    background-image: url("../images/widget/indicator/good.png");

    &.bad {
        background-image: url("../images/widget/indicator/bad.png");
    }

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-image: url("../images/widget/indicator/good-2x.png");
        background-size: 100%;

        &.bad {
            background-image: url("../images/widget/indicator/bad-2x.png");
        }
    }

    // big images
    &.big {
        width: $widthBig;
        height: $heightBig;
        background-image: url("../images/widget/indicator/good-big.png");

        &.bad {
            background-image: url("../images/widget/indicator/bad-big.png");
        }

        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) {
            background-image: url("../images/widget/indicator/good-big-2x.png");

            &.bad {
                background-image: url("../images/widget/indicator/bad-big-2x.png");
            }
        }
    }
}
