.view-widget-test-subsection {
	background-color: #f7f8f6;
    background-image: url("../images/widget/test-subsection/border-dotted.png");
    background-repeat: repeat-x;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 0 20px 15px 160px;

    page-break-inside: avoid;

    @media print {
        padding: 0;
    }

    /* tablet */
    @media only screen and (min-width:($mq-phone + 1px)) and (max-width:($mq-tablet - 1px)) {
        padding-left: 140px;
    }

    /* Phone */
    @media only screen and (max-width:$mq-phone) {
        padding-left: 0;
        padding-right: 0;
    }

    >.header {
        @include secondaryFont;
        font-weight: bold;
        font-size: 167%;
        cursor: pointer;

        padding: 15px 0 0 0;

        .title {
            position: relative;
        }

        .widget-arrow {
            position: absolute;
            top: 3px + 10px;
            left: - $widgetArrowWidth - 10px;

            @media print {
                display: none;
            }
        }


        /* Phone */
        @media only screen and (max-width:$mq-phone) {
            font-size: 146.5%;

            .widget-arrow {
                position: relative;
                top: -3px;
                left: auto;
            }
        }
    }

    >.body {
        display: none;

        @media print {
            display: block !important;
        }

        >.text {
            margin-top: 0;
            margin-bottom: 0;
            color: #6c6c6c;

                @media print {
                    display: none;
                }
        }
    }
}
