.view-widget-test-overview {
    >.inner {
        color: white;
        padding: 30px 30px 30px 75px;
    }

    .column {
        display: table;
        height: 100%;

        .inner {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .diagram-container {
        >.inner {
            margin: 0 auto;
        }
    }

    .description {
        @include secondaryFont;
        font-size: 197%;
        font-weight: bold;
    }

    /* phone */
    @media (max-width:$mq-phone) {
        >.inner {
            padding: 10px 0 25px 0;
        }

        .diagram-container {
            padding-top: 20px;
        }
    }
}