.view-widget-test-overview {
    .section-heading {

        .column {
            display: table;
            height: 100%;

            .inner {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .diagram-container {
            margin-top: 8%;
            margin-bottom: 8%;
            height: 84%;
        }
    }
}
