<div class="view-test-urine-analysis-chemical-component">
    <div class="yui3-g-r">
        <div class="yui3-u-1-2 yui3-u-1-small-tablet">
            <div class="yui3-g">
                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="glucose"></div>
                    </div>
                </div>

                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="protein"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="yui3-u-1-2 yui3-u-1-small-tablet">
            <div class="yui3-g">
                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="ketones"></div>
                    </div>
                </div>

                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="bilirubin"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>