<div class="view-test-urine-analysis-microscopic-particle">
    <div class="yui3-g-r">
        {{#if components}}
             {{#each components}}
                 <div class="yui3-u-1-3 yui3-u-1-2-small-tablet">
                    <div class="yui3-u-c">
                        <div class="pod">
                            <div class="inner">
                                <span class="indicator bad"></span>
                                <span class="label">{{label}}</span>
                            </div>
                        
                            <div class="description">
                                <p>
                                    {{description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
             <div class="yui3-u-1-3 yui3-u-1-2-small-tablet">
                <div class="yui3-u-c">
                    <div class="pod">
                        <div class="inner">
                            <span class="indicator"></span>
                            <span class="label">None Found</span>
                        </div>

                        <div class="description">
                            <p>
                                <span class="message">
                                    No microscopic particles were found in {{patient.name}}’s urine.
                                </span>

                                This means {{patient.name}}’s organs are functioning as expected.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
