<div class="view-test-fiv">
    
    <div class="test-section">
        <div class="test-section-inner">
            <div class="yui3-g-r">
                <!-- tests -->
                <div class="yui3-u-1-2 yui3-u-1-small-tablet">
                    <div class="yui3-g">
                        <div class="yui3-u-1-2">
                            <div class="yui3-u-c">
                                <div class="boolean-container"></div>
                            </div>
                        </div>

                        <div class="yui3-u-1-2">
                            <div class="yui3-u-c">
                                <div class="boolean-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
