<div class="view-test-ova">

    <div class="yui3-g page-section">
        <div class="yui3-u-1">
            <div class="test-overview"></div>
        </div>
    </div>

    <div class="yui3-g-r page-section">
        <!-- tests -->
        <div class="yui3-u-1-2 yui3-u-1-small-tablet">
            <div class="yui3-g">
                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="boolean-container"></div>
                    </div>
                </div>

                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="boolean-container"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="yui3-u-1-2 yui3-u-1-small-tablet">
            <div class="yui3-g">
                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="boolean-container"></div>
                    </div>
                </div>

                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="boolean-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="yui3-g-r page-section">
        <!-- tests -->
        <div class="yui3-u-1-2 yui3-u-1-small-tablet">
            <div class="yui3-g">
                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="boolean-container"></div>
                    </div>
                </div>

                <div class="yui3-u-1-2">
                    <div class="yui3-u-c">
                        <div class="boolean-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
