<div class="view-test-urine-analysis">


    <!-- Visual Analysis -->
    <div class="test-section visual">
        <div class="test-section-inner-with-icon">
            <div class="yui3-g-r">
                <!-- description -->
                <div class="yui3-u-19-24">
                    <div class="yui3-u-c">
                        <div class="test-section-description">
                            <img class="icon" src="images/test/urine/icon/visual-2x.png" alt="" />

                            <h1><span>Visual Analysis</span></h1>
                            <p>We look at the appearance of {{patient.name}}’s urine, as well as investigating.Many factors can affect the color of urine, from medication to diet. Urine is a clear fluid. It can appear cloudy if it contains unexpected cells or crystals.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="yui3-g-r">
                <div class="yui3-u-1-2">
                    <div class="yui3-u-c property color">
                        <h2>Color</h2>

                        <div class="palette {{color.type}}"></div>

                        {{color.label}}
                        <p>Many factors can affect the color of urine, from medication to diet.</p>
                    </div>
                </div>

                <div class="yui3-u-1-2">
                    <div class="yui3-u-c property appearance">
                        <h2>Appearance</h2>

                        <div class="text">
                            <span class="widget-indicator {{#if appearance.isBad}}bad{{/if}}"></span><span class="label">{{appearance.label}}</span>
                        </div>

                        <div class="actual">
                            <div class="range">
                                <img src="images/test/urine/appearance/bg-swatch.png" alt="" />
                            </div>

                            <div class="value {{appearance.type}}">
                                <img class="pattern" src="images/test/urine/appearance/{{appearance.type}}.png" alt="" />
                            </div>
                        </div>

                        <div class="expected">
                            <div class="range">
                                <div class="value"></div>
                            </div>

                            <div class="label">
                                Expected Range
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="test-subsection particle"></div>
    </div>


    <!-- Chemical Analysis -->
    <div class="test-section visual">
        <div class="test-section-inner-with-icon">
            <div class="yui3-g-r">
                <!-- description -->
                <div class="yui3-u-19-24">
                    <div class="yui3-u-c">
                        <div class="test-section-description">
                            <img class="icon" src="images/test/urine/icon/chemical-2x.png" alt="" />

                            <h1><span>Chemical Analysis</span></h1>
                            <p>By analyzing the chemistry of {{patient.name}}’s urine, we are able to understand organ function more clearly and detect any potential issues much sooner.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="yui3-g-r">
                <div class="yui3-u-1-2">
                    <div class="yui3-u-c property">
                        <h2>Concentration</h2>

                        <div class="select"></div>
                    </div>
                </div>

                <div class="yui3-u-1-2">
                    <div class="yui3-u-c property">
                        <h2>pH Levels</h2>

                        <p>Blood should always be at a specific pH level, which is neutral. The kidneys are responsible for maintaining {{patient.name}}’s pH level.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="test-subsection component"></div>
    </div>

</div>
