
<div class="header test-header {{type}}">
    <div class="yui3-g">
        <div class="yui3-u-1">
            <span class="title">
                <span class="icon"></span>
                <span class="text">{{title}}</span>
            </span>
            <div title="{{#if requiresFollowUp}}Please review your Next Steps for the follow up action.{{else}}{{patient.name}}’s {{simpleTitle}} result was reviewed and everything looks good.{{/if}}" class="status {{#if requiresFollowUp}}bad{{/if}}">
                <img src="images/test/base/{{#if requiresFollowUp}}follow-up-good-2x.png{{else}}follow-up-bad-2x.png{{/if}}" alt="" />
            </div>
        </div>
    </div>
</div>
