
<div class="header test-header {{type}}">
    <div class="yui3-g">
        <div class="yui3-u-1">
            <span class="title">
                <img class="icon" src="images/healthtracks/test/{{type}}/icon-2x.png" alt="" />
                <span class="text">{{title}}</span>
            </span>
            <div title="{{#if requiresFollowUp}}Please review your Next Steps for the follow up action.{{else}}{{patient.name}}’s {{simpleTitle}} result was reviewed and everything looks good.{{/if}}" class="status {{#if requiresFollowUp}}bad{{/if}}">
                <img class="yui3-hidden-print" src="images/healthtracks/test/base/follow-up-{{#if requiresFollowUp}}bad{{else}}good{{/if}}-2x.png" alt="" />
                <img class="yui3-visible-print" src="images/healthtracks/test/base/follow-up-{{#if requiresFollowUp}}bad{{else}}good{{/if}}-print-2x.png" alt="" />
            </div>
        </div>
    </div>
</div>
